<div class="place-dialog">
	<p appTypography theme="2" class="title">{{ data.id ? "Редактировать заведение" : "Добавить заведение" }}</p>

	<form class="form" [formGroup]="formGroup" (ngSubmit)="closeDialog(formGroup.value)">
		<app-input class="input" formControlName="name" label="Название" placeholder="Введите название"></app-input>
		<app-input class="input" formControlName="address" label="Адресс" placeholder="Введите адресс"></app-input>
		<app-file class="input" formControlName="file" label="Картинка" placeholder="Загрузить картинку"></app-file>

		<button class="submit">{{ data.id ? "Редактировать" : "Создать" }}</button>
	</form>
</div>
