<div class="place-dialog">
	<p appTypography theme="2" class="title">Добавить заведение</p>

	<form class="form" [formGroup]="formGroup" (ngSubmit)="closeDialog(formGroup.value)">
		<app-input class="input" formControlName="name" placeholder="Введите название"></app-input>
		<app-input class="input" formControlName="address" placeholder="Введите адресс"></app-input>
		<app-file class="input" formControlName="file" placeholder="Загрузить картинку"></app-file>

		<button class="submit">Добавить</button>
	</form>
</div>
