@import "src/assets/scss/abstractions";

@include component() {
	.add-header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		.title {
			flex: 1;
		}

		.add {
			@include hideOnMobile(flex);
		}
	}
}
