<div class="welcome-page" *transloco="let t">
	<h1 appTypography theme="1" class="title">{{ t("TITLE") }}</h1>

	<h2 appTypography theme="3" class="subtitle">{{ t("SUBTITLE") }}</h2>

	<form class="form" [formGroup]="formGroup" (ngSubmit)="updateMe(formGroup.value)">
		<app-input
			class="input"
			[label]="t('NAME_LABEL')"
			[placeholder]="t('NAME_PLACEHOLDER')"
			formControlName="name"
		></app-input>

		<app-input
			class="input"
			[label]="t('TEL_LABEL')"
			[placeholder]="t('TEL_PLACEHOLDER')"
			formControlName="tel"
		></app-input>

		<app-input
			class="input"
			[label]="t('EMAIL_LABEL')"
			[placeholder]="t('EMAIL_PLACEHOLDER')"
			formControlName="email"
		></app-input>

		<button class="submit" appButton theme="1">{{ t("SUBMIT") }}</button>
	</form>
</div>
