@import "src/assets/scss/abstractions";

@include component() {
	.app-tabs {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		//column-gap: rem(32);
		//background-color: var(--light);

		@include desktop() {
			width: auto;
			border-bottom: transparent;
		}
		.tab {
			flex: 1;
			.link {
				display: inline-block;
				width: 100%;
				font-weight: 500;
				font-size: rem(16);
				line-height: rem(24);
				text-align: center;
				color: var(--dark);
				padding-bottom: rem(11);
				border-bottom: rem(1) solid var(--dark-b);
				margin-bottom: rem(-1);
				&.active {
					color: var(--primary);
					border-color: var(--primary);
				}

				@include desktop() {
					font-size: rem(20);
					line-height: rem(32);
				}
			}
		}
	}
}
@include dark() {
	.app-tabs {
		.tab .link {
			border-color: var(--light-b);

			&.active {
				border-color: var(--primary);
			}

			&:not(.active) {
				color: var(--light);
			}
		}
	}
}
