@import "/src/assets/scss/abstractions/index";

@include component() {
	.order {
		display: block;
		position: relative;
		border-radius: rem(12);
		background-color: var(--light-grey);
		.image {
			border-radius: rem(20) rem(20) 0 0;
			width: 100%;
			height: rem(160);
			background-color: var(--dark);

			@include image() {
				border-radius: rem(12) rem(12) 0 0;
			}
		}

		.content {
			.active-order::ng-deep .active-order {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}

		.more {
			position: absolute;
			right: rem(15);
			top: rem(15);
		}
	}
}
@include dark() {
	.order {
		.content {
			background-color: var(--dark-grey);
		}
	}
}
