<div @skeletonLeave class="statistic-skeleton">
	<app-title-skeleton class="title"></app-title-skeleton>

	<app-statistic-header-skeleton class="header"></app-statistic-header-skeleton>

	<ul class="cards">
		<app-statistic-card-skeleton class="card"></app-statistic-card-skeleton>
		<app-statistic-card-skeleton class="card"></app-statistic-card-skeleton>
		<app-statistic-card-skeleton class="card"></app-statistic-card-skeleton>
		<app-statistic-card-skeleton class="card"></app-statistic-card-skeleton>
	</ul>

	<app-statistic-footer-skeleton class="footer"></app-statistic-footer-skeleton>
</div>
