<div class="add-employee-dialog" *transloco="let t">
	<h1 appTypography theme="2" class="title">Найти сотрудниа</h1>

	<form class="form" [formGroup]="formGroup" (ngSubmit)="closeDialog(formGroup.value)">
		<app-input
			class="input"
			formControlName="tel"
			[label]="t('TEL_LABEL')"
			[placeholder]="t('TEL_PLACEHOLDER')"
		></app-input>

		<p class="or">Или</p>

		<app-input
			class="input"
			formControlName="email"
			[label]="t('EMAIL_LABEL')"
			[placeholder]="t('EMAIL_PLACEHOLDER')"
		></app-input>

		<button *ngIf="!isEmployee" appButton class="search" type="button" (click)="findEmployee(formGroup.value)">
			Искать
		</button>
		<button *ngIf="isEmployee" appButton class="submit" type="submit">Добавить</button>
	</form>
</div>
