<div class="order-dialog">
	<h1 appTypography theme="2" class="title">{{ data ? "Редактировать заказ" : "Добавить заказ" }}</h1>

	<form class="form" [formGroup]="formGroup" (ngSubmit)="closeDialog(formGroup.value)">
		<app-input class="input" label="Название" placeholder="Введите название" formControlName="name"></app-input>
		<app-input class="input" label="Код" placeholder="Введите код" formControlName="code"></app-input>

		<button class="submit" appButton type="submit">{{ data ? "Редактировать" : "Добавить" }}</button>
	</form>
</div>
