<div class="accounting-system-dialog" *transloco="let t">
	<p appTypography theme="2" class="title">{{ t("ACCOUNTING_SYSTEM_DIALOG.ADD") }}</p>

	<form class="form" [formGroup]="formGroup" (ngSubmit)="closeDialog(formGroup.value)">
		<app-input
			*ngFor="let field of fields"
			class="input"
			[formControlName]="field"
			[label]="t('FORM.' + field.toUpperCase() + '_LABEL')"
			[placeholder]="t('FORM.' + field.toUpperCase() + '_PLACEHOLDER')"
		></app-input>

		<button appButton theme="1" class="submit">{{ t("FORM.CONNECT") }}</button>
	</form>
</div>
