<div class="all-orders-page" *transloco="let t; read: 'all-orders'">
	<app-input class="search" [label]="t('FORM.SEARCH_LABEL')" [placeholder]="t('FORM.SEARCH_PLACEHOLDER')"></app-input>

	<button class="filters">
		<app-icon class="icon" name="filters"></app-icon>
	</button>

	<app-datatable class="datatable-desktop" [rows]="allOrders$ | async" [columns]="columns"></app-datatable>

	<ul class="datatable-mobile">
		<li class="order" *ngFor="let order of allOrders$ | async">
			<p class="code">{{ t("code") }} {{ order.code }}</p>

			<p class="date-label">{{ t("date") }}</p>
			<!--			<p class="date-value">{{ order.date }}</p>-->

			<p class="role-label">{{ t("status") }}</p>
			<p [class]="'role-value' + ' ' + order.status">{{ order.status }}</p>

			<ng-container *ngTemplateOutlet="moreTemplate"></ng-container>
		</li>
	</ul>
</div>

<ng-template #moreTemplate let-row="row">
	<button
		class="more"
		appIconButton
		[tippy]="actionsTemplate"
		[data]="row"
		placement="left"
		variation="popper"
		theme="1"
	>
		<app-icon class="icon" name="more"></app-icon>
	</button>
</ng-template>

<ng-template #actionsTemplate let-data="data" let-hide>
	<app-actions [actions]="actions" [data]="data" [additionalFunc]="hide"></app-actions>
</ng-template>
