@import "/src/assets/scss/abstractions";

@include page() {
	.all-orders-page {
		display: grid;
		row-gap: rem(16);

		.datatable-desktop {
			@include hideOnMobile(flex);
			&::ng-deep .datatable-row-odd .more {
				background-color: var(--light-grey);
			}
		}
		.datatable-mobile {
			@include hideOnDesktop();
			.order {
				border-radius: rem(16);
				padding: rem(20) rem(16);
				display: grid;
				grid-template-areas:
					"code more"
					"date-label role-label"
					"date-value role-value"
					"button button";
				row-gap: rem(12);

				&:nth-child(2n + 1) {
					background-color: var(--light-grey);
					.more {
						background-color: var(--light);
					}
				}

				.code {
					grid-area: code;
					font-weight: 600;
					font-size: rem(11);
					line-height: rem(16);
					color: var(--dark);
				}

				.date-label,
				.role-label {
					font-weight: 600;
					font-size: rem(11);
					line-height: rem(16);
					color: var(--grey);
					&.date-label {
						grid-area: date-label;
					}
					&.role-label {
						text-align: right;
						grid-area: role-label;
					}
				}

				.date-value,
				.role-value {
					font-weight: 400;
					font-size: rem(13);
					line-height: rem(16);
					color: var(--dark);
					&.date-value {
						grid-area: date-value;
					}
					&.role-value {
						grid-area: role-value;
						text-align: right;
						font-weight: 500;
						&.opened {
							color: var(--success);
						}
						&.closed {
							color: var(--danger);
						}
					}
				}

				.more {
					justify-self: end;
				}
			}
		}
	}
}
@include dark() {
	.all-orders-page {
		.datatable-desktop::ng-deep .datatable-row-odd .more {
			background-color: var(--dark-grey);
		}
		.datatable-mobile .order {
			.code {
				color: var(--light);
			}

			.date-value {
				color: var(--light);
			}

			&:nth-child(2n + 1) {
				background-color: var(--dark-grey);
				.more {
					background-color: var(--dark);
				}
			}
		}
	}
}
