@import "/src/assets/scss/abstractions/index";

@include page() {
	.dashboard-card {
		display: grid;
		padding: rem(15);
		border: rem(1) solid var(--dark-b);
		border-radius: rem(16);
		position: relative;
		background-color: var(--light);
		.value {
			font-weight: 500;
			font-size: rem(24);
			line-height: rem(32);
			color: var(--dark);
		}
		.label {
			font-weight: 400;
			font-size: rem(16);
			line-height: rem(24);
			color: var(--dark);
		}
		.icon-wrapper {
			width: rem(24);
			height: rem(24);
			background-color: var(--primary);
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			right: rem(16);
			top: rem(16);
			.icon {
				width: rem(10);
				height: rem(10);
			}
		}
	}
}
@include dark() {
	.dashboard-card {
		border-color: var(--light-b);
		background-color: var(--dark);
		.value {
			color: var(--light);
		}
		.label {
			color: var(--light);
		}
	}
}
