<div class="attribute-dialog" *transloco="let t">
	<h1 appTypography theme="2" class="title">{{ t("ATTRIBUTE_GROUP_DIALOG." + (data?.id ? "EDIT" : "CREATE")) }}</h1>

	<form class="form" [formGroup]="formGroup" (ngSubmit)="closeDialog(formGroup.value)">
		<app-input
			class="input"
			formControlName="name"
			[label]="t('FORM.NAME_LABEL')"
			[placeholder]="t('FORM.NAME_PLACEHOLDER')"
			[errors]="formGroup.controls['name'].errors"
		></app-input>

		<app-select
			class="input"
			formControlName="attributes"
			bindLabel="name"
			bindValue="id"
			[label]="t('FORM.ATTRIBUTES_LABEL')"
			[placeholder]="t('FORM.ATTRIBUTES_DESCRIPTION')"
			[options]="attributes$ | async"
			[searchable]="true"
			[addTag]="addTag"
			[multiple]="true"
			[errors]="formGroup.controls['attributes']?.errors"
		></app-select>

		<app-select
			class="input"
			formControlName="type"
			bindLabel="name"
			bindValue="value"
			[options]="attributeGroupTypes"
			[label]="t('FORM.TYPE_LABEL')"
			[placeholder]="t('FORM.TYPE_PLACEHOLDER')"
			[errors]="formGroup.controls['type'].errors"
		></app-select>

		<app-input
			class="input"
			formControlName="maxItemsForPick"
			returnType="number"
			[label]="t('FORM.MAX_ITEMS_LABEL')"
			[placeholder]="t('FORM.MAX_ITEMS_PLACEHOLDER')"
			[errors]="formGroup.controls['maxItemsForPick'].errors"
		></app-input>

		<button appButton class="submit" type="submit" [disabled]="formGroup.invalid">
			{{ t("ATTRIBUTE_GROUP_DIALOG." + (data?.id ? "EDIT" : "CREATE")) }}
		</button>
	</form>
</div>
