@import "/src/assets/scss/abstractions/index";

@include component() {
	.wallet-header-skeleton {
		grid-area: money;
		display: grid;
		grid-template-areas:
			"money-value"
			"money-label"
			"first-divider"
			"commission-value"
			"commission-label"
			"second-divider"
			"date-value"
			"date-label"
			"image";
		background-color: var(--light-grey);
		border-radius: rem(16);
		padding: rem(21) rem(16) 0;
		row-gap: rem(6);

		@include desktop() {
			align-items: center;
			grid-template-areas:
				"money-value first-divider commission-value second-divider date-value image"
				"money-label first-divider commission-label second-divider date-label image";
			padding-top: 0;
			padding-right: 0;
			row-gap: 0;
			column-gap: rem(6);
		}

		.date-value,
		.commission-value,
		.money-value {
			height: rem(32);
			width: rem(100);
			&.money-value {
				grid-area: money-value;
			}
			&.commission-value {
				grid-area: commission-value;
			}
			&.date-value {
				grid-area: date-value;
			}
		}

		.date-label,
		.commission-label,
		.money-label {
			height: rem(32);
			width: rem(50);
			&.money-label {
				grid-area: money-label;
			}
			&.commission-label {
				grid-area: commission-label;
			}
			&.date-label {
				grid-area: date-label;
			}
		}

		.second-divider,
		.first-divider {
			width: 100%;
			background-color: var(--dark-b);
			height: rem(1);

			@include desktop() {
				width: rem(1);
				height: 80%;
			}
			&.first-divider {
				grid-area: first-divider;
			}
			&.second-divider {
				grid-area: second-divider;
			}
		}

		.image {
			grid-area: image;
			height: rem(170);
			justify-self: end;
			padding-top: rem(25);
		}
	}
}
@include dark() {
	.wallet-header {
		background-color: var(--dark-grey);

		.date-label,
		.commission-label,
		.money-label {
			color: var(--light);
		}
	}
}
