<div class="wallet-header-skeleton">
	<app-skeleton class="money-value">40 000 грн</app-skeleton>
	<app-skeleton class="money-label"></app-skeleton>
	<span class="first-divider"></span>
	<app-skeleton class="commission-value">5% = 2 000 грн</app-skeleton>
	<app-skeleton class="commission-label"></app-skeleton>
	<span class="second-divider"></span>
	<app-skeleton class="date-value">15.10.22</app-skeleton>
	<app-skeleton class="date-label"></app-skeleton>

	<app-image class="image" name="wallet"></app-image>
</div>
