<div class="wallet-header" *transloco="let t">
	<p class="money-value">{{ totalAmount }} {{ t("WALLET.CURRENCY") }}</p>
	<p class="money-label">{{ t("WALLET.MONEY") }}</p>
	<span class="first-divider"></span>
	<p class="commission-value">5% = {{ tax }} {{ t("WALLET.CURRENCY") }}</p>
	<p class="commission-label">{{ t("WALLET.COMMISION") }}</p>
	<span class="second-divider"></span>
	<p class="date-value">15.10.22</p>
	<p class="date-label">{{ t("WALLET.DATE") }}</p>

	<app-image class="image" name="wallet"></app-image>
</div>
