<div class="users-page" *transloco="let t; read: 'users'">
	<h1 appTypography theme="1" class="title">{{ t("title") }}</h1>

	<button appButton theme="1" class="add" (click)="openOrderDialog()">
		<app-icon class="icon" name="add"></app-icon>
		<span class="text">{{ t("add") }}</span>
	</button>

	<ul class="links">
		<li class="link-item" *ngFor="let page of pages">
			<a class="link" [routerLink]="page.routerLink" routerLinkActive="active">{{ page.label }}</a>
		</li>
	</ul>

	<div class="pages">
		<router-outlet></router-outlet>
	</div>
</div>
