<div class="order-info" *transloco="let t">
	<!--	<p class="table-status" *ngIf="tableStatus">{{ t("TABLE." + tableStatus) }}</p>-->

	<ul class="links">
		<li class="table" *ngIf="tableInfo">
			<span class="name">{{ t("ORDER.TABLE") }}</span>
			<span class="link">{{ tableInfo }}</span>
		</li>
		<li class="date" *ngIf="dateInfo">
			<span class="name">{{ t("ORDER.DATE") }}</span>
			<span class="link" href="">{{ dateInfo }}</span>
		</li>
	</ul>

	<div class="actions">
		<ng-container *ngIf="order?.status === orderStatusEnum.RequestToConfirm">
			<button class="approve" (click)="emitApproveClick()">
				{{ t("ACTIVE_ORDER.APPROVE") }}
			</button>
			<button class="reject" (click)="emitRejectClick()">
				{{ t("ACTIVE_ORDER.REJECT") }}
			</button>
		</ng-container>
		<p class="approved" *ngIf="order?.status === orderStatusEnum.Approved">{{ t("ACTIVE_ORDER.APPROVED") }}</p>
		<p class="rejected" *ngIf="order?.status === orderStatusEnum.Rejected">{{ t("ACTIVE_ORDER.REJECTED") }}</p>
	</div>
</div>
