<div class="order-info" *transloco="let t">
	<p class="table-status" *ngIf="tableStatus">{{ t("TABLE." + tableStatus) }}</p>

	<ul class="links">
		<li class="table" *ngIf="tableInfo">
			<span class="name">{{ t("ORDER.TABLE") }}</span>
			<span class="link">{{ tableInfo }}</span>
		</li>
		<li class="date" *ngIf="dateInfo">
			<span class="name">{{ t("ORDER.DATE") }}</span>
			<span class="link" href="">{{ dateInfo }}</span>
		</li>
	</ul>

	<div class="actions">
		<button class="approve" (click)="emitApproveClick()">
			<app-icon class="icon" name="approve"></app-icon>
		</button>
		<button class="reject" (click)="emitRejectClick()">
			<app-icon class="icon" name="reject"></app-icon>
		</button>
	</div>
</div>
