@import "src/assets/scss/abstractions";

@include component() {
	.add-header-skeleton {
		display: flex;
		justify-content: space-between;
		align-items: end;
		.title {
			flex: 1;
			width: rem(250);
		}

		.add {
			width: rem(250);
			height: rem(44);

			@include hideOnMobile(flex);
		}
	}
}
