<div class="product-dialog" *transloco="let t">
	<h1 appTypography theme="2" class="title">{{ t(data?.id ? "edit" : "create") }}</h1>

	<form class="form" [formGroup]="formGroup" (ngSubmit)="closeDialog(formGroup.value)">
		<app-input
			class="input"
			formControlName="name"
			[label]="t('NAME_LABEL')"
			[placeholder]="t('NAME_PLACEHOLDER')"
		></app-input>
		<app-textarea
			class="input"
			formControlName="description"
			[label]="t('DESCRIPTION_LABEL')"
			[placeholder]="t('DESCRIPTION_PLACEHOLDER')"
		></app-textarea>
		<app-input
			class="input"
			formControlName="price"
			returnType="float"
			[label]="t('PRICE_LABEL')"
			[placeholder]="t('PRICE_PLACEHOLDER')"
		></app-input>
		<app-file
			class="input"
			formControlName="file"
			[previewImage]="data?.file"
			[label]="t('FILE_LABEL')"
			[placeholder]="t('FILE_PLACEHOLDER')"
		></app-file>
		<app-select
			class="input"
			bindLabel="name"
			bindValue="id"
			formControlName="category"
			[label]="t('category_label')"
			[placeholder]="t('category_placeholder')"
			[options]="categories$ | async"
			[searchable]="true"
			[addTag]="addCategoryTag"
		></app-select>
		<app-select
			class="input"
			bindLabel="name"
			bindValue="id"
			formControlName="attrsGroups"
			[label]="t('attribute_groups_label')"
			[placeholder]="t('attribute_groups_placeholder')"
			[options]="attributeGroups$ | async"
			[multiple]="true"
			[searchable]="true"
			[addTag]="addAttributeGroupTag"
		></app-select>

		<button class="submit" appButton type="submit">{{ t(data?.id ? "edit" : "create") }}</button>
	</form>
</div>
