<div class="product-dialog" *transloco="let t">
	<h1 appTypography theme="2" class="title">{{ t("PRODUCT_DIALOG." + (data?.id ? "EDIT" : "CREATE")) }}</h1>

	<form class="form" [formGroup]="formGroup" (ngSubmit)="closeDialog(formGroup.value)">
		<app-input
			class="input"
			formControlName="name"
			[label]="t('FORM.NAME_LABEL')"
			[placeholder]="t('FORM.NAME_PLACEHOLDER')"
		></app-input>
		<app-input
			class="input"
			formControlName="name"
			[label]="t('FORM.NAME_LABEL')"
			[placeholder]="t('FORM.NAME_PLACEHOLDER')"
		></app-input>
		<app-input
			class="input"
			formControlName="name"
			[label]="t('FORM.NAME_LABEL')"
			[placeholder]="t('FORM.NAME_PLACEHOLDER')"
		></app-input>

		<app-textarea
			class="input"
			formControlName="description"
			[label]="t('FORM.DESCRIPTION_LABEL')"
			[placeholder]="t('FORM.DESCRIPTION_PLACEHOLDER')"
		></app-textarea>
		<app-input
			class="input"
			formControlName="price"
			returnType="float"
			[label]="t('FORM.PRICE_LABEL')"
			[placeholder]="t('FORM.PRICE_PLACEHOLDER')"
		></app-input>
		<app-file
			class="input"
			formControlName="file"
			[previewImage]="data?.file"
			[label]="t('FORM.FILE_LABEL')"
			[placeholder]="t('FORM.FILE_PLACEHOLDER')"
		></app-file>
		<app-select
			class="input"
			bindLabel="name"
			bindValue="id"
			formControlName="category"
			[label]="t('FORM.CATEGORY_LABEL')"
			[placeholder]="t('FORM.CATEGORY_PLACEHOLDER')"
			[options]="categories$ | async"
			[searchable]="true"
			[addTag]="addCategoryTag"
		></app-select>
		<app-select
			class="input"
			bindLabel="name"
			bindValue="id"
			formControlName="attrsGroups"
			[label]="t('FORM.ATTRIBUTE_GROUPS_LABEL')"
			[placeholder]="t('FORM.ATTRIBUTE_GROUPS_DESCRIPTION')"
			[options]="attributeGroups$ | async"
			[multiple]="true"
			[searchable]="true"
			[addTag]="addAttributeGroupTag"
		></app-select>

		<button class="submit" appButton type="submit">{{ t("PRODUCT_DIALOG." + (data?.id ? "EDIT" : "CREATE")) }}</button>
	</form>
</div>
