<div class="commands-page">
	<h1 appTypography theme="1" class="title">Команды</h1>

	<button appButton class="add" (click)="openCreateCommandDialog()">
		<app-icon class="icon" name="add"></app-icon>
		<span class="text">Добавить</span>
	</button>

	<app-input class="search" placeholder="Поиск"></app-input>

	<ul class="commands">
		<li class="command" *ngFor="let command of commands$ | async">
			<p class="label">{{ command.name }}</p>

			<button
				appIconButton
				class="more"
				[tippy]="actionsTemplate"
				[data]="command"
				placement="left"
				variation="popper"
				theme="1"
			>
				<app-icon class="icon" name="more"></app-icon>
			</button>

			<!--			<p class="description">{{ command.description }}</p>-->
		</li>
	</ul>
</div>

<ng-template #actionsTemplate let-data="data" let-hide>
	<app-actions [actions]="actions" [data]="data" [additionalFunc]="hide"></app-actions>
</ng-template>
