@import "/src/assets/scss/abstractions";

@include page() {
	.commands-page {
		display: grid;
		align-items: end;
		grid-template-areas:
			"title add"
			"search search"
			"commands commands";
		grid-template-columns: 1fr auto;
		gap: rem(16);

		@include pagePadding();
		@include desktop() {
			grid-template-areas:
				"title add"
				"search search"
				"commands commands";
			row-gap: rem(32);
		}

		.title {
			grid-area: title;
		}

		.search {
			grid-area: search;
		}
		.add {
			grid-area: add;
		}

		.commands {
			grid-area: commands;
			display: grid;
			gap: rem(8);

			@include desktop() {
				grid-template-columns: 1fr 1fr 1fr;
			}
			.command {
				position: relative;
				border-radius: rem(12);
				padding: rem(10) rem(16);
				background-color: var(--light-grey);
				display: grid;
				grid-template-columns: 1fr auto;
				align-items: center;
				gap: rem(8);
				grid-template-areas:
					"label more"
					"description description";

				.label {
					grid-area: label;
					font-weight: 500;
					font-size: rem(16);
					line-height: rem(24);
					color: var(--dark);
				}
				.description {
					width: 100%;
					grid-area: description;
					font-weight: 400;
					font-size: rem(11);
					line-height: rem(16);
					color: var(--grey);
					&:empty {
						display: none;
					}
				}
				.more {
					grid-area: more;
				}
			}
		}
	}
}
@include dark() {
	.commands-page {
		.commands {
			.command {
				background-color: var(--dark-grey);
				.label {
					color: var(--light);
				}
				.description {
					color: var(--grey);
				}
				.actions {
					.button {
						background-color: var(--dark);
						.icon {
							@include icon(#bfbfbf);
						}
					}
				}
			}
		}
	}
}
