<div class="commands-page" *transloco="let t">
	<app-add-header
		class="add-header"
		[title]="t('TITLE')"
		[add]="t('ADD')"
		(clicked)="openCreateCommandDialog()"
	></app-add-header>

	<app-filters class="filters"></app-filters>

	<app-list class="list" [items]="commands$ | async" [itemTemplate]="commandTemplate"></app-list>
</div>

<ng-template let-item #commandTemplate>
	<app-command
		[command]="item"
		(editClicked)="openUpdateCommandDialog(item)"
		(deleteClicked)="openDeleteCommandDialog(item)"
	></app-command>
</ng-template>
