<div class="company" *transloco="let t">
	<p class="title" *ngIf="user?.role === 'ADMIN' || user?.role === 'MANAGER'">
		<span class="text">{{ t("COMPANIES.ADD_COMPANY") }}</span>
		<button appIconButton class="button" (click)="emitAddCompanyClick()">
			<app-icon class="icon" name="add"></app-icon>
		</button>
	</p>

	<div class="container">
		<app-select
			class="select"
			bindLabel="name"
			bindValue="id"
			[value]="companyId"
			[label]="t('FORM.COMPANY_LABEL')"
			[placeholder]="t('FORM.COMPANY_PLACEHOLDER')"
			[options]="companies"
			(valueChange)="emitCompanyChange($event)"
		></app-select>

		<app-more
			class="more"
			[disabled]="!companyId"
			(editClicked)="emitEditClick(companyId)"
			(deleteClicked)="emitDeleteClick(companyId)"
		></app-more>
	</div>
</div>
