<div class="users-page" *transloco="let t">
	<app-filters class="filters"></app-filters>

	<!--desktop-->
	<app-datatable class="datatable-desktop" [rows]="guests$ | async">
		<ng-container appColumn="name">
			<ng-template #header>{{ t("NAME") }}</ng-template>
			<ng-template #value let-value>{{ value }}</ng-template>
		</ng-container>
		<ng-container appColumn="email">
			<ng-template #header>{{ t("email") }}</ng-template>
			<ng-template #value let-value>{{ value }}</ng-template>
		</ng-container>
		<ng-container appColumn="tel">
			<ng-template #header>{{ t("tel") }}</ng-template>
			<ng-template #value let-row="row">{{ row.category.name }}</ng-template>
		</ng-container>
		<ng-container appColumn="role">
			<ng-template #header>{{ t("role") }}</ng-template>
			<ng-template #value let-value>{{ value }}</ng-template>
		</ng-container>
		<ng-container appColumn="more">
			<ng-template #header></ng-template>
			<ng-template #value let-row="row">
				<ng-container *ngTemplateOutlet="moreTemplate; context: { row }"></ng-container>
			</ng-template>
		</ng-container>
	</app-datatable>

	<!--mobile-->
	<ul class="datatable-mobile">
		<li class="user" *ngFor="let user of guests$ | async; trackBy: sharedService.trackByFn">
			<ng-container *ngTemplateOutlet="moreTemplate; context: { row: user }"></ng-container>

			<p class="name-label">{{ t("name") }}</p>
			<p class="name-value">{{ user.name }}</p>

			<p class="email-label">{{ t("email") }}</p>
			<p class="email-value">{{ user.email }}</p>

			<p class="tel-label">{{ t("tel") }}</p>
			<p class="tel-value">{{ user.tel }}</p>

			<p class="role-label">{{ t("roel") }}</p>
			<p class="role-value">{{ user.role }}</p>
		</li>
	</ul>
</div>

<ng-template #moreTemplate let-row="row">
	<app-more
		class="more"
		(editClicked)="openUpdateUserDialog(row)"
		(deleteClicked)="openDeleteUserDialog(row)"
	></app-more>
</ng-template>
