<div class="halls-page" *transloco="let t">
	<h1 appTypography theme="1">{{ t("HALLS.TITLE") }}</h1>

	<app-add-button class="add" (clicked)="openCreateHallDialog()">{{ t("HALLS.ADD") }}</app-add-button>

	<app-filters class="filters"></app-filters>

	<ng-container *ngIf="halls$ | async as hallsData">
		<app-list class="list" [items]="hallsData.data" [itemTemplate]="hallTemplate" type="link"></app-list>

		<app-pager
			[count]="hallsData.totalCount"
			[offset]="hallsData.page - 1"
			[limit]="limit"
			(pageChanged)="updateQuery($event)"
		></app-pager>
	</ng-container>
</div>

<ng-template let-item #hallTemplate>
	<app-hall
		[hall]="item"
		(editClicked)="openUpdateHallDialog(item)"
		(deleteClicked)="openDeleteHallDialog(item)"
	></app-hall>
</ng-template>
