<div class="halls-page" *transloco="let t">
	<h1 appTypography theme="1" class="title">{{ t("HALLS.TITLE") }}</h1>

	<button appButton class="add" (click)="openCreateHallDialog()">
		<app-icon class="icon" name="add"></app-icon>
		<span class="text">{{ t("BUTTON.ADD") }}</span>
	</button>

	<app-input class="search" [label]="t('FORM.SEARCH_LABEL')" [placeholder]="t('FORM.SEARCH_PLACEHOLDER')"></app-input>

	<button class="filters">
		<app-icon class="icon" name="filters"></app-icon>
	</button>

	<ul class="halls">
		<li class="hall" *ngFor="let hall of halls$ | async">
			<a class="link" [routerLink]="hall.id">
				<app-image class="image" [remote]="true" [name]="hall.file?.url" placeholder="hall"></app-image>

				<div class="content">
					<p class="label">{{ hall.name }}</p>
					<p class="description">{{ hall.description }}</p>
				</div>

				<button
					appIconButton
					appStopPropagation
					class="more"
					[tippy]="actionsTemplate"
					[data]="hall"
					placement="left"
					variation="popper"
					theme="1"
				>
					<app-icon class="icon" name="more"></app-icon>
				</button>
			</a>
		</li>
	</ul>
</div>

<ng-template #actionsTemplate let-data="data" let-hide>
	<app-actions [actions]="actions" [data]="data" [additionalFunc]="hide"></app-actions>
</ng-template>
