<div class="sign-up" *transloco="let t; read: 'signUp'">
	<app-image class="image" name="sign-in"></app-image>

	<app-card theme="1" class="card">
		<app-image class="logo" name="logo"></app-image>
		<form class="form" [formGroup]="form" [ngSwitch]="typeControl.value" (ngSubmit)="signUp(form.value)">
			<app-radio-button class="radio-button" theme="1" [options]="types" [formControl]="typeControl"></app-radio-button>

			<app-input
				class="input"
				*ngSwitchCase="'email'"
				type="email"
				[label]="t('FORM.EMAIL_LABEL')"
				[placeholder]="t('FORM.EMAIL_PLACEHOLDER')"
				formControlName="email"
			></app-input>
			<app-input
				class="input"
				*ngSwitchCase="'tel'"
				type="tel"
				[label]="t('FORM.TEL_LABEL')"
				[placeholder]="t('FORM.TEL_PLACEHOLDER')"
				formControlName="tel"
			></app-input>
			<app-input
				class="input"
				type="password"
				[label]="t('FORM.PASSWORD_LABEL')"
				[placeholder]="t('FORM.PASSWORD_PLACEHOLDER')"
				formControlName="password"
			></app-input>

			<div class="social-medias">
				<p class="label">{{ t("or") }}</p>
				<button appButton theme="2" class="button" type="button">
					<app-icon class="icon" name="google"></app-icon>
					<span class="text">{{ t("google") }}</span>
				</button>
				<button appButton theme="2" class="button" type="button">
					<app-icon class="icon" name="telegram"></app-icon>
					<span class="text">{{ t("telegram") }}</span>
				</button>
			</div>

			<button appButton class="submit">{{ t("sign-up") }}</button>
		</form>

		<div class="links">
			<a appLink [routerLink]="adminRoutes.SIGN_UP.absolutePath" class="link">{{ t("sign-in") }}</a>
			<a appLink [routerLink]="adminRoutes.FORGOT_PASSWORD.absolutePath" class="link">{{ t("forgot-password") }}</a>
		</div>

		<p class="privacy-policy">{{ t("privacy-policy") }}</p>
	</app-card>
</div>
