<div class="wallet-page" *transloco="let t; read: 'wallet'">
	<h1 appTypography theme="1" class="title">{{ t("title") }}</h1>

	<app-wallet-header class="header"></app-wallet-header>

	<h2 appTypography theme="3" class="subtitle">{{ t("cards") }}</h2>

	<button appButton class="add" (click)="openCreateCardDialog()">
		<app-icon class="icon" name="add"></app-icon>
		<span class="text">{{ t("add") }}</span>
	</button>

	<ul class="cards">
		<li class="card" *ngFor="let card of cards">
			<app-wallet-card class="wallet-card" [card]="card"></app-wallet-card>
		</li>
	</ul>
</div>
