@import "/src/assets/scss/abstractions";

@include page() {
	.wallet-page {
		display: grid;
		row-gap: rem(32);
		grid-template-areas:
			"title title"
			"header header"
			"subtitle add"
			"cards cards";
		align-items: center;
		grid-template-columns: 1fr auto;

		@include pagePadding();

		.title {
			grid-area: title;
		}

		.header {
			grid-area: header;
		}

		.subtitle {
			grid-area: subtitle;
		}

		.add {
			grid-area: add;
		}

		.cards {
			grid-area: cards;
			display: grid;

			@include desktop() {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
	}
}
@include dark() {
}
