<div class="category-dialog">
	<h1 appTypography theme="2" class="title">{{ data ? "Редактировать категорию" : "Добавить категорию" }}</h1>

	<form class="form" [formGroup]="formGroup" (ngSubmit)="closeDialog(formGroup.value)">
		<app-input class="input" label="Имя" placeholder="Введите имя" formControlName="name"></app-input>
		<app-file class="input" label="Изображение" placeholder="Выберите изображение" formControlName="file"></app-file>

		<button class="submit" appButton type="submit">{{ data ? "Редактировать" : "Добавить" }}</button>
	</form>
</div>
