<div @skeletonLeave class="shift-skeleton">
	<app-title-skeleton class="title"></app-title-skeleton>
	<app-skeleton class="close"></app-skeleton>
	<app-skeleton class="subtitle"></app-skeleton>

	<app-halls-select-skeleton class="halls"></app-halls-select-skeleton>
	<app-tables-select-skeleton class="tables-select"></app-tables-select-skeleton>

	<footer class="footer">
		<app-selected-tables-skeleton class="selected-tables"></app-selected-tables-skeleton>

		<app-skeleton class="submit"></app-skeleton>
	</footer>
</div>
