<div class="hall-dialog">
	<h1 appTypography theme="2" class="title">{{ data ? "Редактировать зал" : "Добавить зал" }}</h1>

	<form class="form" [formGroup]="formGroup" (ngSubmit)="closeDialog(formGroup.value)">
		<app-input class="input" label="Название" formControlName="name" placeholder="Выберите название"></app-input>
		<app-file class="input" label="Изображние" formControlName="file" placeholder="Выберите изображние"></app-file>

		<button class="submit" appButton type="submit">{{ data ? "Редактировать" : "Добавить" }}</button>
	</form>
</div>
