<div class="user-dialog" *transloco="let t">
	<h1 appTypography theme="2" class="title">{{ t("USER." + (data ? "EDIT" : "CREATE")) }}</h1>

	<form class="form" [formGroup]="formGroup" (ngSubmit)="closeDialog(formGroup.value)">
		<app-input
			class="input"
			formControlName="name"
			[label]="t('FORM.NAME_LABEL')"
			[placeholder]="t('FORM.NAME_PLACEHOLDER')"
		></app-input>
		<app-input
			class="input"
			formControlName="email"
			[label]="t('FORM.EMAIL_LABEL')"
			[placeholder]="t('FORM.EMAIL_PLACEHOLDER')"
		></app-input>
		<app-input
			class="input"
			formControlName="tel"
			[label]="t('FORM.TEL_LABEL')"
			[placeholder]="t('FORM.TEL_PLACEHOLDER')"
		></app-input>
		<app-input
			class="input"
			formControlName="password"
			[label]="t('FORM.PASSWORD_LABEL')"
			[placeholder]="t('FORM.PASSWORD_PLACEHOLDER')"
		></app-input>
		<app-select
			class="input"
			formControlName="role"
			[options]="roles"
			[label]="t('FORM.ROLE_LABEL')"
			[placeholder]="t('FORM.ROLE_PLACEHOLDER')"
		></app-select>

		<button class="submit" appButton type="submit">{{ t("BUTTON." + (data ? "EDIT" : "CREATE")) }}</button>
	</form>
</div>
