@import "/src/assets/scss/abstractions";

@include page() {
	.dashboard-footer {
		display: grid;
		align-items: center;
		grid-template-areas:
			"status-type description"
			"info info"
			"button .";
		grid-template-columns: auto 1fr;
		row-gap: rem(12);

		@include desktop() {
			row-gap: rem(24);
		}

		.status-type {
			width: rem(132);
			text-align: center;
			padding: rem(6) rem(16);
			grid-area: status-type;
			border-radius: rem(8);
			font-weight: 500;
			font-size: rem(16);
			line-height: rem(24);
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: #ff6e64;
			background-color: #f6f6f6;
		}
		.description {
			grid-area: description;
			text-align: left;
			font-weight: 400;
			font-size: rem(16);
			line-height: rem(24);
			color: var(--dark);
		}
		.info {
			grid-area: info;
			font-weight: 400;
			font-size: rem(13);
			line-height: rem(16);
			color: var(--dark);
		}
		.button {
			grid-area: button;
			background-color: var(--primary);
			border-radius: rem(8);
			font-weight: 600;
			font-size: rem(13);
			line-height: rem(16);
			text-align: right;
			color: var(--dark);
			padding: rem(11) rem(18);
		}
	}
}
@include dark() {
	.dashboard-footer {
		.status-type {
			background-color: var(--dark-grey);
		}
		.description {
			color: var(--light);
		}
		.info {
			color: var(--light);
		}
	}
}
