<div class="attribute-dialog" *transloco="let t">
	<h1 appTypography theme="2" class="title">{{ t(data?.id ? "edit" : "create") }}</h1>

	<form class="form" [formGroup]="formGroup" (ngSubmit)="closeDialog(formGroup.value)">
		<app-input
			class="input"
			formControlName="name"
			[label]="t('name_label')"
			[placeholder]="t('name_placeholder')"
		></app-input>
		<app-input
			class="input"
			formControlName="price"
			[label]="t('price_label')"
			[placeholder]="t('price_placeholder')"
		></app-input>

		<button class="submit" appButton type="submit">{{ t(data?.id ? "edit" : "create") }}</button>
	</form>
</div>
