<div class="halls-select" *transloco="let t; read: hallsSelectI18n">
	<ul class="halls">
		<li class="hall">
			<button class="label" [class.active]="isAll" (click)="toggleAll()">{{ t("all") }}</button>
		</li>
		<li class="hall" *ngFor="let hall of hallsWithSelected; let i = index; trackBy: trackByFn">
			<input
				class="checkbox"
				type="checkbox"
				[id]="'hall_' + hall.id"
				[name]="'hall_' + hall.id"
				[value]="hall.id"
				[(ngModel)]="hall.selected"
				(change)="emitChange()"
			/>
			<label class="label" [for]="i">{{ hall.name }}</label>
		</li>
	</ul>
</div>
