<div class="command-dialog" *transloco="let t">
	<h1 appTypography theme="2" class="title">{{ t("COMMAND_" + (data ? "EDIT" : "CREATE")) }}</h1>

	<form class="form" [formGroup]="formGroup" (ngSubmit)="closeDialog(formGroup.value)">
		<app-input
			formControlName="name"
			[label]="t('FORM.NAME_LABEL')"
			[placeholder]="t('FORM.NAME_PLACEHOLDER')"
		></app-input>
		<app-textarea
			formControlName="description"
			[label]="t('FORM.DESCRIPTION_LABEL')"
			[placeholder]="t('FORM.DESCRIPTION_PLACEHOLDER')"
		></app-textarea>

		<button class="submit" appButton type="submit">{{ t("BUTTON_" + (data ? "EDIT" : "CREATE")) }}</button>
	</form>
</div>
