@import "/src/assets/scss/abstractions";

@include page() {
	.active-orders-page {
		display: grid;
		grid-template-areas:
			"search search filters"
			"orders orders orders";
		row-gap: rem(16);
		column-gap: rem(8);
		grid-template-columns: 1fr auto;
		align-items: end;

		.search {
			grid-area: search;
		}
		.filters {
			grid-area: filters;
			width: rem(48);
			height: rem(48);
			border: rem(1) solid var(--primary);
			border-radius: rem(12);
			display: flex;
			align-items: center;
			justify-content: center;
			.icon {
				width: rem(20);
				height: rem(20);

				@include icon(var(--primary), var(--primary));
			}
		}
		.orders {
			display: grid;
			grid-area: orders;
			gap: rem(8);

			@include desktop() {
				grid-template-columns: 1fr 1fr 1fr;
			}
			.order {
				position: relative;
				border-radius: rem(12);
				background-color: var(--light-grey);
				.image {
					border-radius: rem(20) rem(20) 0 0;
					width: 100%;
					height: rem(160);
					background-color: var(--dark);

					@include image() {
						border-radius: rem(12) rem(12) 0 0;
					}
				}

				.info {
					display: grid;
					grid-template-areas: "code status";
					row-gap: rem(6);
					padding: rem(14) rem(16);
					.code {
						grid-area: code;
						font-weight: 500;
						font-size: rem(16);
						line-height: rem(24);
						color: var(--dark);
					}
					.status {
						grid-area: status;
						justify-self: end;
						color: var(--grey);
					}
				}

				.more {
					position: absolute;
					right: rem(15);
					top: rem(15);
				}
			}
		}
	}
}
@include dark() {
	.active-orders-page .orders .order {
		background-color: var(--dark-grey);
		.info {
			.code {
				color: var(--light);
			}
			.status {
				color: var(--grey);
			}
		}
	}
}
