@import "/src/assets/scss/abstractions";

@include page() {
	.active-orders-page {
		display: grid;
		align-items: end;
		grid-template-areas:
			"filters filters"
			"list list";
		row-gap: rem(16);
		column-gap: rem(8);
		grid-template-columns: 1fr auto;

		@include desktop() {
			grid-template-areas:
				"filters filters add"
				"list list list";
		}

		.add {
			@include hideOnMobile(flex);
		}

		.filters {
			grid-area: filters;
		}

		.list {
			grid-area: list;
		}
	}
}
@include dark() {
	.active-orders-page .orders .order .link {
		background-color: var(--dark-grey);
		.info {
			.code {
				color: var(--light);
			}
			.status {
				color: var(--grey);
			}
		}
	}
}
