<div class="active-orders-page" *transloco="let t">
	<!--	<app-add-button class="add" (clicked)="openCreateOrderDialog()">{{ t("ACTIVE_ORDERS.ADD") }}</app-add-button>-->

	<app-filters class="filters"></app-filters>

	<ng-container *ngIf="activeOrders$ | async as activeOrdersData">
		<app-list class="list" [items]="activeOrdersData.data" [itemTemplate]="order"></app-list>

		<app-pager
			[count]="activeOrdersData.totalCount"
			[offset]="activeOrdersData.page - 1"
			[limit]="limit"
			(pageChanged)="updateQuery($event)"
		></app-pager>
	</ng-container>
</div>

<ng-template let-item #order>
	<a class="link" [routerLink]="item.id">
		<app-order
			[order]="item"
			(editClicked)="openUpdateOrderDialog(item)"
			(deleteClicked)="openDeleteOrderDialog(item)"
			(closeClicked)="closeOrder(item)"
			(cancelClicked)="cancelOrder(item)"
		></app-order>
	</a>
</ng-template>
