<div class="active-orders-page">
	<app-input class="search"></app-input>

	<button class="filters">
		<app-icon class="icon" name="filters"></app-icon>
	</button>

	<ul class="orders">
		<li class="order" *ngFor="let order of orders$ | async">
			<app-image class="image" placeholder="table" [remote]="true" [name]="order.table"></app-image>

			<div class="info">
				<p class="label">{{ order.hall }} Зал №1, Стол №1</p>
				<ul class="guests">
					<li class="guest" *ngFor="let user of order.users">
						<p class="name">{{ user.name }}</p>
					</li>
				</ul>

				<a class="button" appButton theme="2">Ожидают</a>
			</div>

			<button
				class="more"
				appIconButton
				[tippy]="actionsTemplate"
				[data]="order"
				placement="left"
				variation="popper"
				theme="1"
			>
				<app-icon class="icon" name="more"></app-icon>
			</button>
		</li>
	</ul>
</div>

<ng-template #actionsTemplate let-data="data" let-hide>
	<app-actions [actions]="actions" [data]="data" [additionalFunc]="hide"></app-actions>
</ng-template>
