<div class="active-orders-page" *transloco="let t">
	<button appButton class="add" (click)="openCreateOrderDialog()">
		<app-icon class="icon" name="add"></app-icon>
		<span class="text">{{ t("ADD") }}</span>
	</button>

	<app-filters class="filters"></app-filters>

	<app-list class="list" [items]="activeOrders$ | async" [itemTemplate]="order"></app-list>
</div>

<ng-template let-item #order>
	<a class="link" [routerLink]="item.id">
		<app-order
			[order]="item"
			(editClicked)="openUpdateOrderDialog(item)"
			(deleteClicked)="openDeleteOrderDialog(item)"
		></app-order>
	</a>
</ng-template>
