<div class="attribute-dialog">
	<h1 appTypography theme="2" class="title">
		{{ data.id ? "Редактировать группу модификацию" : "Добавить группу модификацию" }}
	</h1>

	<form class="form" [formGroup]="formGroup" (ngSubmit)="closeDialog(formGroup.value)">
		<app-input class="input" label="Название" placeholder="Введите название" formControlName="name"></app-input>

		<app-select
			class="input"
			label="Модификации"
			placeholder="Выберите модификации"
			formControlName="attributes"
			[options]="attributes$ | async"
			[searchable]="true"
			[addTag]="addTag"
			bindLabel="name"
			bindValue="value"
			[multiple]="true"
		></app-select>

		<app-select
			class="input"
			label="Тип"
			placeholder="Выберите тип"
			formControlName="type"
			[options]="attributeGroupTypes"
			bindLabel="name"
			bindValue="value"
		></app-select>

		<app-input
			class="input"
			label="Макс. кол-во выбранных элементов"
			placeholder="Введите количество"
			formControlName="maxItemsForPick"
		></app-input>

		<button class="submit" appButton type="submit">{{ data ? "Редактировать" : "Добавить" }}</button>
	</form>
</div>
