<aside class="aside" *transloco="let t; read: asideI18n">
	<a class="user" *ngIf="user" [routerLink]="adminRoutes.PROFILE.absolutePath" (click)="emitCloseClick()">
		<div class="image">{{ user.name | initials }}</div>
		<p class="name">{{ user.name }}</p>
		<p class="description">{{ user.role }}</p>

		<button appStopPropagation class="sign-out" (click)="emitSignOutClick()">
			<app-icon class="icon" name="exit"></app-icon>
		</button>
	</a>

	<ng-container *transloco="let f; read: formI18n">
		<div class="company">
			<p class="title">
				<span class="text">{{ t("companies") }}</span>
				<button appIconButton class="button" (click)="emitAddCompanyClick()">
					<app-icon class="icon" name="add"></app-icon>
				</button>
			</p>

			<div class="container">
				<app-select
					class="select"
					bindLabel="name"
					bindValue="id"
					[label]="f('company_label')"
					[placeholder]="f('company_placeholder')"
					[formControl]="companyControl"
					[options]="companies"
				></app-select>

				<button
					appIconButton
					class="button"
					theme="1"
					placement="left"
					variation="popper"
					[tippy]="companiesActionsTemplate"
					[data]="companyControl.value"
				>
					<app-icon class="icon" name="more"></app-icon>
				</button>
			</div>
		</div>

		<div class="place">
			<p class="title">
				<span class="text">{{ t("places") }}</span>
				<button appIconButton class="button" (click)="emitAddPlaceClick()" [disabled]="!companyControl.value">
					<app-icon class="icon" name="add"></app-icon>
				</button>
			</p>
			<div class="container">
				<app-select
					class="select"
					bindLabel="name"
					bindValue="id"
					[label]="f('place_label')"
					[placeholder]="f('place_placeholder')"
					[formControl]="placeControl"
					[options]="places"
				></app-select>
				<button
					appIconButton
					class="button"
					theme="1"
					placement="left"
					variation="popper"
					[tippy]="placesActionsTemplate"
					[data]="placeControl.value"
				>
					<app-icon class="icon" name="more"></app-icon>
				</button>
			</div>
		</div>
	</ng-container>

	<nav class="nav">
		<ul class="pages">
			<li class="page" *ngFor="let page of pages$ | async; trackBy: trackByFn">
				<a
					appLink
					class="link"
					theme="0"
					routerLinkActive="active"
					[routerLink]="page.routerLink"
					(click)="emitCloseClick()"
					[class.disabled]="page.disabled"
				>
					<app-icon class="icon" [name]="page.icon"></app-icon>
					<span class="label">{{ t(page.label) }}</span>
				</a>
			</li>
		</ul>
	</nav>

	<div class="support">
		<app-icon class="icon" name="support"></app-icon>
		<p class="label">{{ t("support") }}</p>
		<p class="tel">+38 095 748 98 45</p>
	</div>
</aside>

<ng-template #companiesActionsTemplate let-data="data" let-hide>
	<app-actions [actions]="companyActions" [data]="getCompany(data)" [additionalFunc]="hide"></app-actions>
</ng-template>

<ng-template #placesActionsTemplate let-data="data" let-hide>
	<app-actions [actions]="placeActions" [data]="getPlace(data)" [additionalFunc]="hide"></app-actions>
</ng-template>
