<header class="header">
	<a class="logo" routerLink="/">
		<app-image class="image" name="logo" placeholder="logo"></app-image>
	</a>

	<button class="profile" *ngIf="user$ | async as user" [tippy]="dropdown" placement="bottom-end" variation="popper">
		<p class="name">{{ user.name }}</p>
		<p class="role">{{ user.role }}</p>

		<div class="icon">
			<span class="text">{{ user.name | initials }}</span>
		</div>
	</button>

	<button class="burger" (click)="toggleAside()">
		<app-icon class="icon" [name]="(isAsideOpen$ | async) ? 'close' : 'burger'"></app-icon>
	</button>
</header>

<ng-template #dropdown let-hide>
	<app-actions [actions]="actions" [additionalFunc]="hide"></app-actions>
</ng-template>
