<div class="categories-page" *transloco="let t">
	<app-add-button class="add" (clicked)="openCreateCategoryDialog()">{{ t("CATEGORIES.ADD") }}</app-add-button>

	<app-filters class="filters"></app-filters>

	<ul class="categories">
		<li class="category" *ngFor="let category of categories$ | async; trackBy: sharedService.trackByFn">
			<div class="header">
				<h1 class="label">{{ category.name }}</h1>

				<app-more
					class="more"
					(editClicked)="openUpdateCategoryDialog(category)"
					(deleteClicked)="openDeleteCategoryDialog(category)"
				></app-more>
			</div>

			<ul class="products">
				<li class="product" *ngFor="let product of category.products; trackBy: sharedService.trackByFn">
					<p class="name-label">{{ t("CATEGORIES.NAME") }}</p>
					<p class="name-value">{{ product.name }}</p>
					<p class="description-label">{{ t("CATEGORIES.DESCRIPTION") }}</p>
					<p class="description-value">{{ product.description }}</p>
					<p class="price-label">{{ t("CATEGORIES.PRICE") }}</p>
					<p class="price-value">{{ product.price }} {{ t("PRODUCT.CURRENCY") }}</p>
					<app-more
						class="more"
						(editClicked)="openUpdateProductDialog(product)"
						(deleteClicked)="openDeleteProductDialog(product)"
					></app-more>
				</li>
			</ul>
		</li>
	</ul>
</div>
