@import "/src/assets/scss/abstractions";

@include page() {
	.categories-page {
		display: grid;
		align-items: end;
		grid-template-areas:
			"add add add"
			"filters filters filters"
			"categories categories categories";
		row-gap: rem(16);
		column-gap: rem(8);
		grid-template-columns: 1fr auto;

		@include desktop() {
			grid-template-areas:
				"filters filters add"
				"categories categories categories";
		}

		.filters {
			grid-area: filters;
		}
		.categories {
			display: grid;
			grid-area: categories;
			row-gap: rem(14);
			.category {
				.header {
					background-color: var(--light-grey);
					border-radius: rem(8);
					padding: rem(4) rem(4) rem(4) rem(16);
					display: flex;
					align-items: center;
					justify-content: space-between;

					@include desktop() {
						padding: rem(10) rem(8) rem(10) rem(24);
						border-radius: rem(12);
					}
					.label {
						font-weight: 600;
						font-size: rem(13);
						line-height: rem(16);
						color: var(--primary);

						@include desktop() {
							font-size: rem(16);
							line-height: rem(24);
						}
					}
				}
				.products {
					.product {
						position: relative;
						padding: rem(4) rem(4) rem(16) rem(16);
						display: grid;
						align-items: center;
						border-bottom: rem(1) solid var(--dark-b);

						.name-label,
						.description-label,
						.price-label {
							font-weight: 500;
							font-size: rem(11);
							line-height: rem(16);
							color: var(--dark-t);
							margin-top: rem(10);

							@include desktop() {
								display: none;
							}
						}

						.name-value,
						.description-value,
						.price-value {
							font-weight: 500;
							font-size: rem(11);
							line-height: rem(16);
							color: var(--dark);
							&.description-value {
								color: var(--dark-t);
							}
						}

						.more {
							position: absolute;
							right: rem(4);
							top: rem(12);
							background-color: var(--light-grey);
						}

						@include desktop() {
							padding: rem(10) rem(8) rem(10) rem(24);
							grid-auto-flow: column;
							justify-content: space-between;
							.more {
								position: static;
							}
						}
					}
				}
			}
		}
	}
}
@include dark() {
	.categories-page .categories .category {
		.header {
			background-color: var(--dark-grey);
		}

		.products .product {
			border-color: var(--light-b);

			.name-label,
			.description-label,
			.price-label {
				color: var(--light-t);
			}

			.name-value,
			.description-value,
			.price-value {
				color: var(--light);
				&.description-value {
					color: var(--light-t);
				}
			}

			.more {
				background-color: var(--dark-grey);
			}
		}
	}
}
