<div class="categories-page" *transloco="let t; read: 'categories'">
	<button appButton class="add" (click)="openCreateCategoryDialog()">
		<app-icon class="icon" name="add"></app-icon>
		<span class="text">{{ t("add") }}</span>
	</button>

	<app-filters class="filters"></app-filters>

	<ul class="categories">
		<li class="category" *ngFor="let category of categories$ | async">
			<div class="header">
				<h1 class="label">{{ category.name }}</h1>

				<button
					class="more"
					appIconButton
					[tippy]="categoryActionsTemplate"
					[data]="category"
					placement="left"
					variation="popper"
					theme="1"
				>
					<app-icon class="icon" name="more"></app-icon>
				</button>
			</div>

			<ul class="products">
				<li class="product" *ngFor="let product of category.products">
					<p class="name-label">{{ t("name") }}</p>
					<p class="name-value">{{ product.name }}</p>
					<p class="description-label">{{ t("description") }}</p>
					<p class="description-value">{{ product.description }}</p>
					<p class="price-label">{{ t("price") }}</p>
					<p class="price-value">{{ product.price }} грн</p>
					<button
						class="more"
						appIconButton
						[tippy]="productsActionsTemplate"
						[data]="product"
						placement="left"
						variation="popper"
						theme="1"
					>
						<app-icon class="icon" name="more"></app-icon>
					</button>
				</li>
			</ul>
		</li>
	</ul>
</div>

<ng-template #categoryActionsTemplate let-data="data" let-hide>
	<app-actions [actions]="categoryActions" [data]="data" [additionalFunc]="hide"></app-actions>
</ng-template>

<ng-template #productsActionsTemplate let-data="data" let-hide>
	<app-actions [actions]="productActions" [data]="data" [additionalFunc]="hide"></app-actions>
</ng-template>
