<div class="table">
	<app-image class="image" [remote]="true" [name]="table.file?.url" placeholder="table"></app-image>

	<div class="content">
		<p class="label">{{ table.name }}</p>
		<p class="description">{{ table.code }}</p>
	</div>

	<button
		class="more"
		appIconButton
		[tippy]="actionsTemplate"
		[data]="table"
		placement="left"
		variation="popper"
		theme="1"
	>
		<app-icon class="icon" name="more"></app-icon>
	</button>
</div>

<ng-template #actionsTemplate let-data="data" let-hide>
	<app-actions [actions]="actions" [data]="data" [additionalFunc]="hide"></app-actions>
</ng-template>
