<div class="order-dialog" *transloco="let t; read: orderDialogI18n">
	<h1 appTypography theme="2" class="title">{{ t(data?.id ? "edit" : "create") }}</h1>

	<form
		*transloco="let f; read: formI18n"
		class="form"
		[formGroup]="formGroup"
		(ngSubmit)="closeDialog(formGroup.value)"
	>
		<app-input
			class="input"
			formControlName="code"
			[label]="f('code_label')"
			[placeholder]="f('code_placeholder')"
		></app-input>

		<button class="submit" appButton type="submit">{{ t(data?.id ? "edit" : "create") }}</button>
	</form>
</div>
