<div class="companies-page" *transloco="let t">
	<app-image class="image" name="companies"></app-image>

	<div class="card">
		<h1 appTypography theme="2" class="title">{{ t("COMPANIES.TITLE") }}</h1>

		<ul class="companies">
			<li class="company" *ngFor="let company of companies$ | async; trackBy: sharedService.trackByFn">
				<a class="link" [routerLink]="company.id">
					{{ company.name | initials }}
				</a>
			</li>
			<li class="company" *appRole="[userRoleEnum.Admin, userRoleEnum.Manager]">
				<button class="button" (click)="openCreateCompanyDialog()">
					<app-icon class="icon" name="add"></app-icon>
				</button>
			</li>
		</ul>
	</div>
</div>
