<div class="companies-page">
	<app-image class="image" name="companies"></app-image>

	<div class="card">
		<h1 appTypography theme="2" class="title">Выберите компанию</h1>

		<ul class="companies">
			<li class="company" *ngFor="let company of companies$ | async">
				<a class="link" [routerLink]="company.id">
					{{ company.name | initials }}
				</a>
			</li>
			<li class="company">
				<button class="button" (click)="openCreateCompanyDialog()">
					<app-icon class="icon" name="add"></app-icon>
				</button>
			</li>
		</ul>
	</div>
</div>
