@import "/src/assets/scss/abstractions/index";

@include component() {
	.user {
		display: grid;
		align-items: center;
		grid-template-areas:
			"image name sign-out"
			"image description sign-out";
		padding: rem(8);
		grid-template-columns: auto 1fr;
		column-gap: rem(17);
		row-gap: rem(2);
		background-color: var(--light-grey);
		border-radius: rem(20);

		@include hideOnDesktop(grid);

		.image {
			grid-area: image;
			width: rem(56);
			height: rem(56);
			background: linear-gradient(180deg, var(--primary) 0%, #ff9c01 100%);
			backdrop-filter: blur(rem(8));
			border-radius: rem(16);
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 600;
			font-size: rem(20);
			line-height: rem(32);
			color: var(--dark);
		}
		.name {
			grid-area: name;
			font-weight: 500;
			font-size: rem(16);
			line-height: rem(24);
			color: var(--dark);
			align-self: flex-end;
		}
		.description {
			grid-area: description;
			font-weight: 400;
			font-size: rem(12);
			line-height: rem(16);
			color: var(--dark-t);
			align-self: start;
		}

		.sign-out {
			display: flex;
			align-items: center;
			justify-content: center;
			width: rem(42);
			height: rem(42);
			grid-area: sign-out;
			background-color: var(--light);
			border-radius: rem(12);
			.icon {
				width: rem(21);
				height: rem(21);
			}
		}
	}
}
@include dark() {
	.user {
		background-color: var(--dark-grey);
		.name {
			color: var(--light);
		}
		.description {
			color: var(--light-t);
		}
		.sign-out {
			background-color: var(--dark);
			.icon {
				@include icon () {
					path {
						fill: var(--light);
					}
				}
			}
		}
	}
}
