<div class="places-page" *transloco="let t; read: placesPageI18n">
	<app-image class="image" name="places"></app-image>

	<div class="card">
		<h1 class="title" appTypography theme="2">{{ t("title") }}</h1>

		<ul class="places">
			<li class="place" *ngFor="let place of places$ | async; trackBy: trackByFn">
				<a class="link" [routerLink]="place.id">
					{{ place.name | initials }}
				</a>
			</li>
			<li class="place">
				<button class="button" (click)="openCreatePlaceDialog()">
					<app-icon class="icon" name="add"></app-icon>
				</button>
			</li>
		</ul>
	</div>
</div>
