@import "/src/assets/scss/abstractions/index";

@include component() {
	.payment-system-skeleton {
		width: 100%;
		background-color: var(--light-grey);
		border-radius: rem(12);
		height: rem(64);
		display: flex;
		align-items: center;
		justify-content: center;
		border: rem(1) solid transparent;

		@include desktop() {
			height: rem(128);
		}
	}
}
@include dark() {
	.payment-system-skeleton {
		background-color: var(--dark-grey);
	}
}
