@import "/src/assets/scss/abstractions";

@include page() {
	.categories-skeleton {
		display: grid;
		row-gap: rem(16);

		@include pagePadding();
		@include desktop() {
			row-gap: rem(24);
		}
	}
}
