<div class="attribute-dialog" *transloco="let t">
	<h1 appTypography theme="2" class="title">{{ t("ATTRIBUTE." + (data ? "EDIT" : "CREATE")) }}</h1>

	<form class="form" [formGroup]="formGroup" (ngSubmit)="closeDialog(formGroup.value)">
		<app-input
			class="input"
			formControlName="name"
			[label]="t('FORM.NAME_LABEL')"
			[placeholder]="t('FORM.NAME_PLACEHOLDER')"
		></app-input>
		<app-input
			class="input"
			formControlName="price"
			[label]="t('FORM.PRICE_LABEL')"
			[placeholder]="t('FORM.PRICE_PLACEHOLDER')"
		></app-input>

		<button class="submit" appButton type="submit">{{ t("BUTTON." + (data ? "EDIT" : "CREATE")) }}</button>
	</form>
</div>
