<div class="reset-password" *transloco="let t; read: resetPasswordPage">
	<app-image class="image" name="auth"></app-image>

	<app-card theme="1">
		<div class="card">
			<app-image class="logo" name="logo"></app-image>

			<form
				*transloco="let f; read: form"
				class="form"
				[formGroup]="formGroup"
				[ngSwitch]="typeControl.value"
				(ngSubmit)="resetPassword(formGroup.value)"
			>
				<app-input
					class="input"
					type="password"
					formControlName="password"
					[label]="f('password_label')"
					[placeholder]="f('password_placeholder')"
				></app-input>

				<button appButton class="submit">{{ t("AUTH.RESET_PASSWORD") }}</button>
			</form>

			<div class="links">
				<a appLink [routerLink]="adminRoutes.SIGN_IN.absolutePath" class="link">{{ t("AUTH.SIGN_IN") }}</a>
				<a appLink [routerLink]="adminRoutes.SIGN_UP.absolutePath" class="link">{{ t("AUTH.SIGN_UP") }}</a>
			</div>
		</div>
	</app-card>
</div>
