<div class="profile-page" *ngIf="user$ | async as user">
	<h1 appTypography theme="1" class="title">Личный кабинет</h1>

	<div class="info">
		<p class="name">{{ user.name }}</p>
		<p class="role">{{ user.role }}</p>
	</div>

	<form class="form">
		<app-input label="Имя" class="input name" theme="2" placeholder="Введите имя"></app-input>
		<app-input label="Телефон" class="input tel" theme="2" placeholder="Введите телефон"></app-input>
		<app-input label="Почта" class="input email" theme="2" placeholder="Введите почту"></app-input>
		<app-input label="Роль" class="input role" theme="2" placeholder="Выберите роль"></app-input>

		<button class="submit">Сохранить</button>

		<app-image class="image" name="profile"></app-image>
	</form>

	<button class="delete">Удалить профиль</button>
</div>
