@import "/src/assets/scss/abstractions/index";

@include page() {
	.company-dialog {
		padding: rem(50) rem(32);
		display: grid;
		row-gap: rem(32);

		.form {
			display: grid;
			row-gap: rem(24);
			.submit {
				width: 100%;
				background-color: var(--primary);
				border-radius: rem(12);
				padding: rem(12);
				text-align: center;
				font-weight: 600;
				font-size: rem(16);
				line-height: rem(24);
				color: var(--dark);
			}
		}
	}
}
