@import "/src/assets/scss/abstractions/index";

@include page() {
	.company-dialog {
		padding: rem(50) rem(32);
		display: grid;
		row-gap: rem(32);

		.form {
			display: grid;
			row-gap: rem(24);
		}
	}
}
