<div class="shift" *transloco="let t">
	<h1 appTypography theme="1" class="title">{{ t("SHIFT.TITLE") }}</h1>

	<button
		*ngIf="activeShift$ | async as activeShift"
		appButton
		theme="2"
		class="close"
		(click)="closeShift(activeShift.id)"
	>
		<app-icon class="icon" name="close"></app-icon>
		<span class="text">{{ t("SHIFT.CLOSE") }}</span>
	</button>

	<h2 appTypography theme="4" class="subtitle">{{ t("SHIFT.SUBTITLE") }}</h2>

	<app-halls-select
		class="halls"
		[halls]="halls$ | async"
		(selectedHallsChange)="setSelectedHalls($event)"
	></app-halls-select>

	<app-tables-select
		class="tables-select"
		[tables]="tables$ | async"
		[selectedTables]="(activeShift$ | async)?.tables"
		[(selectedTables)]="selectedTables"
	></app-tables-select>

	<footer class="footer">
		<app-selected-tables
			class="selected-tables"
			[selectedTables]="(activeShift$ | async)?.tables"
			[(selectedTables)]="selectedTables"
		></app-selected-tables>

		<button
			appButton
			theme="1"
			*ngIf="activeShift$ | async as activeShift; else createButton"
			(click)="updateShift(activeShift.id, selectedTables)"
		>
			{{ t("SHIFT.EDIT") }}
		</button>

		<ng-template #createButton>
			<button appButton theme="1" (click)="createShift(selectedTables)">
				{{ t("SHIFT.CREATE") }}
			</button>
		</ng-template>
	</footer>
</div>
