<div class="shift-page" *transloco="let t">
	<h1 appTypography theme="1" class="title">{{ t("SHIFT.TITLE") }}</h1>

	<p class="description">
		{{ t("SHIFT.END") }}
		<br />
		<span class="time">12ч 34м</span>
	</p>

	<h2 appTypography theme="3" class="subtitle">{{ t("SHIFT.SUBTITLE") }}</h2>

	<ul class="halls">
		<li class="hall">
			<button class="button">{{ t("BUTTON.ALL") }}</button>
		</li>
		<li class="hall" *ngFor="let hall of halls$ | async">
			<button class="button">
				{{ hall.name }}
			</button>
		</li>
	</ul>

	<ul class="tables">
		<li class="table" *ngFor="let table of tables$ | async">
			<button class="button">
				<app-image class="image" [remote]="true" [name]="table.file?.url" placeholder="table"></app-image>
				<div class="content">
					<span class="text">{{ table.name }}</span>
					<div class="circle"></div>
				</div>
			</button>
		</li>
	</ul>

	<footer class="footer">
		<ul class="selected-tables">
			<li class="selected-table" *ngFor="let selectedTable of selectedTables">
				<span class="label">{{ selectedTable.hall }}</span>
				<button class="button">
					<app-icon class="icon" name="close"></app-icon>
				</button>
			</li>
		</ul>

		<button class="submit">{{ t("BUTTON.SUBMIT") }}</button>
	</footer>
</div>
