@import "/src/assets/scss/abstractions";

@include page() {
	.shift {
		display: grid;
		align-items: center;
		grid-template-areas:
			"title close"
			"subtitle subtitle"
			"halls halls"
			"tables-select tables-select";
		grid-template-columns: 1fr auto;
		position: relative;
		row-gap: rem(12);

		@include pagePadding();
		padding-bottom: rem(120);

		@include desktop () {
			height: 100%;
			grid-template-rows: auto auto auto 1fr;
		}

		.title {
			grid-area: title;
		}
		.close {
			grid-area: close;
		}
		.description {
			grid-area: description;
		}
		.subtitle {
			grid-area: subtitle;
		}
		.halls {
			grid-area: halls;
		}
		.tables-select {
			align-self: start;
			grid-area: tables-select;
		}

		.footer {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: rem(16);
			row-gap: rem(16);
			background-color: var(--light-grey);
			border-radius: rem(8);
			display: grid;

			@include desktop() {
				position: absolute;
				display: flex;
				justify-content: space-between;
				align-items: center;
				column-gap: rem(10);
			}
			.selected-tables {
				flex: 1;
				overflow: hidden;
			}
			.submit {
				width: 100%;
				padding: rem(12) rem(24);
				background-color: var(--primary);
				border-radius: rem(8);
				font-weight: 600;
				font-size: rem(13);
				line-height: rem(16);
				color: var(--dark);

				@include desktop() {
					width: auto;
				}
			}
		}
	}
}
@include dark() {
	.shift {
		.close {
			@include icon() {
				path {
					stroke: var(--light);
				}
			}
		}
		.description {
			color: var(--light-t);
			.time {
				color: var(--light);
			}
		}
		.subtitle {
			color: var(--light);
		}
		.footer {
			background-color: var(--dark-grey);
		}
	}
}
