<div class="products-page" *transloco="let t">
	<app-add-button class="add" (clicked)="openCreateProductDialog()">{{ t("PRODUCTS.ADD") }}</app-add-button>

	<app-filters class="filters"></app-filters>

	<app-datatable class="datatable-desktop" [rows]="products$ | async" [selectionType]="SelectionType.checkbox">
		<ng-container appColumn="file">
			<ng-template #header>{{ t("PRODUCTS.FILE") }}</ng-template>
			<ng-template #value let-row="row">
				<app-image class="image" [remote]="true" [name]="row.file?.url" placeholder="product"></app-image>
			</ng-template>
		</ng-container>
		<ng-container appColumn="name">
			<ng-template #header>{{ t("PRODUCTS.NAME") }}</ng-template>
			<ng-template #value let-value>{{ value }}</ng-template>
		</ng-container>
		<ng-container appColumn="description">
			<ng-template #header>{{ t("PRODUCTS.DESCRIPTION") }}</ng-template>
			<ng-template #value let-value>{{ value }}</ng-template>
		</ng-container>
		<ng-container appColumn="сategory">
			<ng-template #header>{{ t("PRODUCTS.CATEGORY") }}</ng-template>
			<ng-template #value let-row="row">{{ row.category.name }}</ng-template>
		</ng-container>
		<ng-container appColumn="price">
			<ng-template #header>{{ t("PRODUCTS.PRICE") }}</ng-template>
			<ng-template #value let-value>{{ value }} {{ t("PRODUCT.CURRENCY") }}</ng-template>
		</ng-container>
		<ng-container appColumn="more">
			<ng-template #header></ng-template>
			<ng-template #value let-row="row">
				<ng-container *ngTemplateOutlet="moreTemplate; context: { row }"></ng-container>
			</ng-template>
		</ng-container>
	</app-datatable>

	<ul class="datatable-mobile">
		<li class="product" *ngFor="let product of products$ | async; trackBy: sharedService.trackByFn">
			<app-image class="image" [remote]="true" [name]="product.file?.url" placeholder="product"></app-image>

			<ng-container *ngTemplateOutlet="moreTemplate; context: { row: product }"></ng-container>

			<div class="info">
				<p class="name-label">{{ t("PRODUCTS.NAME") }}</p>
				<p class="name-value">{{ product.name }}</p>
				<p class="description-label">{{ t("PRODUCTS.DESCRIPTION") }}</p>
				<p class="description-value">{{ product.description }}</p>
				<p class="category-label">{{ t("PRODUCTS.CATEGORY") }}</p>
				<p class="category-value">{{ product.category.name }}</p>
				<p class="price-label">{{ t("PRODUCTS.PRICE") }}</p>
				<p class="price-value">{{ product.price }} {{ t("PRODUCT.CURRENCY") }}</p>
			</div>
		</li>
	</ul>
</div>

<ng-template #moreTemplate let-row="row">
	<app-more (editClicked)="openUpdateProductDialog(row)" (deleteClicked)="openDeleteProductDialog(row)"></app-more>
</ng-template>
