<div class="products-page" *transloco="let t">
	<button appButton class="add" (click)="openCreateProductDialog()">
		<app-icon class="icon" name="add"></app-icon>
		<span class="text">{{ t("ADD") }}</span>
	</button>

	<app-filters class="filters"></app-filters>

	<app-datatable class="datatable-desktop" [rows]="products$ | async">
		<ng-container appColumn="name">
			<ng-template #header>{{ t("NAME") }}</ng-template>
			<ng-template #value let-value>{{ value }}</ng-template>
		</ng-container>
		<ng-container appColumn="description">
			<ng-template #header>{{ t("DESCRIPTION") }}</ng-template>
			<ng-template #value let-value>{{ value }}</ng-template>
		</ng-container>
		<ng-container appColumn="сategory">
			<ng-template #header>{{ t("CATEGORY") }}</ng-template>
			<ng-template #value let-row="row">{{ row.category.name }}</ng-template>
		</ng-container>
		<ng-container appColumn="price">
			<ng-template #header>{{ t("PRICE") }}</ng-template>
			<ng-template #value let-value>{{ value }} {{ t("CURRENCY") }}</ng-template>
		</ng-container>
		<ng-container appColumn="more">
			<ng-template #header></ng-template>
			<ng-template #value let-row="row">
				<ng-container *ngTemplateOutlet="moreTemplate; context: { row }"></ng-container>
			</ng-template>
		</ng-container>
	</app-datatable>

	<ul class="datatable-mobile">
		<li class="product" *ngFor="let product of products$ | async; trackBy: sharedService.trackByFn">
			<app-image class="image" [remote]="true" [name]="product.file?.url" placeholder="product"></app-image>

			<ng-container *ngTemplateOutlet="moreTemplate; context: { row: product }"></ng-container>

			<div class="info">
				<p class="name-label">{{ t("NAME") }}</p>
				<p class="name-value">{{ product.name }}</p>
				<p class="description-label">{{ t("DESCRIPTION") }}</p>
				<p class="description-value">{{ product.description }}</p>
				<p class="category-label">{{ t("CATEGORY") }}</p>
				<p class="category-value">{{ product.category.name }}</p>
				<p class="price-label">{{ t("PRICE") }}</p>
				<p class="price-value">{{ product.price }} {{ t("CURRENCY") }}</p>
			</div>
		</li>
	</ul>
</div>

<ng-template #moreTemplate let-row="row">
	<app-more (editClicked)="openUpdateProductDialog(row)" (deleteClicked)="openDeleteProductDialog(row)"></app-more>
</ng-template>
