<div class="accounting-system-dialog" *transloco="let t">
	<p appTypography theme="2" class="title">{{ t("ACCOUNTING_SYSTEMS.TITLE") }}</p>

	<form class="form" [formGroup]="formGroup" (ngSubmit)="closeDialog(formGroup.value)">
		<app-input
			class="input"
			formControlName="publicKey"
			[label]="t('FORM.PUBLIC_KEY_LABEL')"
			[placeholder]="t('FORM.PUBLIC_KEY_DESCRIPTION')"
		></app-input>
		<app-input
			class="input"
			formControlName="privateKey"
			[label]="t('FORM.PRIVATE_KEY_LABEL')"
			[placeholder]="t('FORM.PRIVATE_KEY_DESCRIPTION')"
		></app-input>

		<button class="submit">{{ t("ACCOUNTING_SYSTEMS.CONNECT") }}</button>
	</form>
</div>
