<div class="order-page" *transloco="let t; read: activeOrderPage">
	<ng-container *ngIf="order$ | async as order">
		<app-order-info [order]="order"></app-order-info>

		<div class="actions">
			<button class="approve" (click)="approveTableInOrder()">Подтвердить</button>
			<button class="reject" (click)="rejectTableInOrder()">Отклонить</button>
		</div>

		<app-users-select
			class="users-select"
			[users]="order.users"
			[(selectedUsers)]="selectedUsers"
			(selectedUsersChange)="setSelectedUsers($event)"
		></app-users-select>

		<app-products-to-order-select
			class="products-select"
			[productsToOrders]="order.productsToOrders"
			[(selectedProductsToOrders)]="selectedProductsToOrders"
			(selectedProductsToOrdersChange)="setSelectedProductsToOrders($event)"
		></app-products-to-order-select>

		<div class="actions">
			<button class="approve" (click)="approveProductsInOrder()">Подтвердить</button>
			<button class="reject" (click)="rejectProductsInOrder()">Отклонить</button>
		</div>

		<button class="cancel" (click)="cancelOrder(order.id)">{{ t("cancel") }}</button>

		<app-textarea class="textarea" [value]="order.comments" label="Комментарий" [disabled]="true"></app-textarea>
	</ng-container>
</div>
