@import "/src/assets/scss/abstractions";

@include page() {
	.order-page {
		display: flex;
		flex-direction: column;
		row-gap: rem(24);
		width: 100%;
		height: 100%;
		padding-bottom: 0 !important;

		@include pagePadding();

		.header {
			display: flex;
			justify-content: space-between;
			.title {
				flex: 1;

				@include noWrap();
			}
			.type {
				@include hideOnMobile();
			}
		}

		.main {
			flex: 1;
			display: grid;
			align-items: start;
			row-gap: rem(24);
			grid-template-rows: auto auto 1fr;
			.products-select {
				@include hideOnDesktop();
			}
			.datatable {
				@include hideOnMobile();
				.icon.WAITING {
					@include icon() {
						path {
							fill: var(--primary);
						}
					}
				}
				.icon.PAID {
					@include icon() {
						path {
							fill: var(--success);
						}
					}
				}
				.icon.NOT_PAID {
					@include icon() {
						path {
							fill: var(--danger);
						}
					}
				}
			}
		}

		.footer {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: rem(8) 0 rem(75);
			column-gap: rem(12);

			@include desktop() {
				padding-bottom: rem(8);
			}
			.actions {
				flex: 1;
				justify-self: start;
				display: flex;
				column-gap: rem(8);
				.reject,
				.approve {
					flex: 1;
					padding: rem(6) rem(16);
					border: rem(1) solid transparent;
					border-radius: rem(6);
					display: flex;
					align-items: center;
					justify-content: center;
					font-weight: 600;
					font-size: rem(16);
					line-height: rem(24);
					text-align: right;
					.icon {
						width: rem(16);
						height: rem(16);
					}
					&.approve {
						border-color: var(--success);
						color: var(--success);
					}
					&.reject {
						border-color: var(--danger);
						color: var(--danger);
					}

					&:disabled {
						cursor: not-allowed;
						opacity: 50%;
					}
				}
			}
			.text {
				@include hideOnMobile();
				width: rem(100);
				font-weight: 500;
				font-size: rem(20);
				line-height: rem(24);
				color: var(--dark);
			}
			.submit {
				@include hideOnMobile();
			}
		}
	}
}
@include dark() {
	.order-page .header .type {
		color: var(--light);
	}
}
