<div class="statistic-access" *transloco="let t">
	<p class="description">{{ t("ACCESS.DESCRIPTION") }}</p>

	<p class="code" *ngIf="code">
		<span class="text">{{ code }}</span>
		<button class="copy" (click)="copyCode(code)">
			<app-icon class="icon" name="copy"></app-icon>
		</button>
	</p>

	<div class="telegram-bots">
		<p class="title">Телеграм боты</p>

		<ul class="bots">
			<li class="bot" *ngFor="let bot of telegramBots">
				<app-icon class="icon" name="telegram"></app-icon>
				<a class="link" [href]="bot.link">{{ bot.label }}</a>
			</li>
		</ul>
	</div>

	<app-image class="image" name="access"></app-image>
</div>
