<ng-container *transloco="let t">
	<div class="statistic" *ngIf="statisticPage$ | async as statisticPage">
		<h1 appTypography theme="1" class="title">{{ t("STATISTIC.TITLE") }}</h1>

		<app-statistic-header
			class="header"
			[tax]="statisticPage.getPlaceStatistic.tax"
			[totalAmount]="statisticPage.getPlaceStatistic.totalAmount"
		></app-statistic-header>

		<ul class="cards">
			<app-statistic-card
				class="card"
				link="../users/guests"
				[value]="statisticPage.getPlaceStatistic.guests"
				[label]="t('STATISTIC.GUESTS')"
				icon="group"
			></app-statistic-card>
			<app-statistic-card
				class="card"
				link="../users/employees"
				[value]="statisticPage.getPlaceStatistic.employees"
				[label]="t('STATISTIC.EMPLOYEES')"
				icon="user"
			></app-statistic-card>
			<app-statistic-card
				class="card"
				link="../halls"
				[value]="statisticPage.getPlaceStatistic.halls"
				[label]="t('STATISTIC.HALLS')"
				icon="halls"
			></app-statistic-card>
			<app-statistic-card
				class="card"
				link="../halls"
				[value]="statisticPage.getPlaceStatistic.tables"
				[label]="t('STATISTIC.TABLES')"
				icon="table"
			></app-statistic-card>
		</ul>

		<app-statistic-footer
			class="footer"
			[verificationStatus]="statisticPage.place.verificationStatus"
			(buttonClicked)="changeStatus($event)"
		></app-statistic-footer>
	</div>
</ng-container>
