<ngx-datatable
	[class]="className"
	[rows]="rows"
	[columnMode]="columnMode.force"
	[headerHeight]="50"
	[footerHeight]="50"
	[count]="count"
	[offset]="offset"
	[limit]="limit"
	[messages]="messages"
	[selected]="_selected"
	[selectionType]="selectionType"
	[externalPaging]="externalPaging"
	(activate)="emitActivate($event)"
	(select)="emitSelect($event)"
	(page)="emitPage($event)"
	rowHeight="auto"
>
	<ngx-datatable-column [name]="appColumn.appColumn" *ngFor="let appColumn of appColumns">
		<ng-template let-column="column" ngx-datatable-header-template>
			<ng-container *ngTemplateOutlet="appColumn.headerTempalte; context: { $implicit: column }"></ng-container>
		</ng-template>
		<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
			<ng-container *ngTemplateOutlet="appColumn.valueTemplate; context: { $implicit: value, row }"></ng-container>
		</ng-template>
	</ngx-datatable-column>
</ngx-datatable>
