<div class="tables-page" *transloco="let t">
	<h1 appTypography theme="1">{{ t("TABLES.TITLE") }}</h1>

	<app-add-button class="add" (clicked)="openCreateTableDialog()">{{ t("TABLES.ADD") }}</app-add-button>

	<app-filters class="filters"></app-filters>

	<app-list
		class="list"
		[items]="tables$ | async"
		[itemTemplate]="tableTemplate"
		(clicked)="openTableQrCodeDialog($event)"
	></app-list>
</div>

<ng-template let-item #tableTemplate>
	<app-table
		[table]="item"
		(editClicked)="openUpdateTableDialog(item)"
		(deleteClicked)="openDeleteTableDialog(item)"
	></app-table>
</ng-template>
