<div class="tables-page" *transloco="let t; read: tablesPage">
	<app-add-header
		class="add-header"
		[title]="t('title')"
		[add]="t('add')"
		(clicked)="openCreateTableDialog()"
	></app-add-header>

	<app-filters class="filters"></app-filters>

	<app-list [items]="tables$ | async" [itemTemplate]="tableTemplate"></app-list>
</div>

<ng-template let-item #tableTemplate>
	<button (click)="openTableQrCodeDialog(item)">
		<app-table
			[table]="item"
			(editClicked)="openUpdateTableDialog(item)"
			(deleteClicked)="openDeleteTableDialog(item)"
		></app-table>
	</button>
</ng-template>
