<div class="tables-page" *transloco="let t">
	<h1 appTypography theme="1">{{ t("TABLES.TITLE") }}</h1>

	<app-add-button class="add" (clicked)="openCreateTableDialog()">{{ t("TABLES.ADD") }}</app-add-button>

	<app-filters class="filters"></app-filters>

	<ng-container *ngIf="tables$ | async as tablesData">
		<app-list
			class="list"
			[items]="tablesData.data"
			[itemTemplate]="tableTemplate"
			(clicked)="openTableQrCodeDialog($event)"
		></app-list>

		<app-pager
			[count]="tablesData.totalCount"
			[offset]="tablesData.page - 1"
			[limit]="limit"
			(pageChanged)="updateQuery($event)"
		></app-pager>
	</ng-container>
</div>

<ng-template let-item #tableTemplate>
	<app-table
		[table]="item"
		(editClicked)="openUpdateTableDialog(item)"
		(deleteClicked)="openDeleteTableDialog(item)"
	></app-table>
</ng-template>
