<div class="command-dialog" *transloco="let t; read: commandDialog">
	<h1 appTypography theme="2" class="title">{{ t(data?.id ? "edit" : "create") }}</h1>

	<form *transloco="let f; read: form" class="form" [formGroup]="formGroup" (ngSubmit)="closeDialog(formGroup.value)">
		<app-input formControlName="name" [label]="f('name_label')" [placeholder]="f('name_placeholder')"></app-input>
		<app-textarea
			formControlName="description"
			[label]="f('description_label')"
			[placeholder]="f('description_placeholder')"
		></app-textarea>

		<button class="submit" appButton type="submit">{{ t(data?.id ? "edit" : "create") }}</button>
	</form>
</div>
