@import "/src/assets/scss/abstractions/index";

@include page() {
	.command-dialog {
		padding: rem(57) rem(32);
		display: grid;
		row-gap: rem(32);

		.title {
			font-weight: 600;
			font-size: rem(32);
			line-height: rem(40);
			letter-spacing: 0.04em;
			color: var(--dark);
		}

		.form {
			display: grid;
			row-gap: rem(24);

			.submit {
				width: 100%;
			}
		}
	}
}
