<div class="payment-system-dialog" *transloco="let t">
	<p appTypography theme="2" class="title">{{ t("PAYMENT_SYSTEM_DIALOG.ADD") }}</p>

	<form class="form" [formGroup]="formGroup" (ngSubmit)="closeDialog(formGroup.value)">
		<app-input
			*ngFor="let field of fields"
			class="input"
			[formControlName]="field"
			[label]="t('FORM.' + field.toUpperCase() + '_LABEL')"
			[placeholder]="t('FORM.' + field.toUpperCase() + '_PLACEHOLDER')"
			[errors]="formGroup.controls[field]?.errors"
		></app-input>

		<button appButton theme="1" class="submit" [disabled]="formGroup.invalid">
			{{ t("PAYMENT_SYSTEM_DIALOG.CONNECT") }}
		</button>
	</form>
</div>
