<div class="accounting-system-dialog" *transloco="let t; read: 'form'">
	<p appTypography theme="2" class="title">{{ t("add") }}</p>

	<form class="form" [formGroup]="formGroup" (ngSubmit)="closeDialog(formGroup.value)">
		<app-input
			class="input"
			formControlName="publicKey"
			[label]="t('public_key_label')"
			[placeholder]="t('public_key_description')"
		></app-input>
		<app-input
			class="input"
			formControlName="privateKey"
			[label]="t('private_key_label')"
			[placeholder]="t('private_key_placeholder')"
		></app-input>

		<button class="submit">{{ t("connect") }}</button>
	</form>
</div>
