<div class="attributes-page" *transloco="let t; read: attributesPage">
	<button appButton class="add" (click)="openCreateAttributeGroupDialog()">
		<app-icon class="icon" name="add"></app-icon>
		<span class="text">{{ t("add") }}</span>
	</button>

	<app-filters class="filters"></app-filters>

	<ul class="attributes-groups">
		<li class="attributes-group" *ngFor="let attributesGroup of attributeGroups$ | async; trackBy: trackByFn">
			<div class="header">
				<h1 class="label">{{ attributesGroup.name }}</h1>

				<button
					class="more"
					appIconButton
					[tippy]="attributesGroupActionsTemplate"
					[data]="attributesGroup"
					placement="left"
					variation="popper"
					theme="1"
				>
					<app-icon class="icon" name="more"></app-icon>
				</button>
			</div>

			<ul class="attributes">
				<li class="attribute" *ngFor="let attribute of attributesGroup.attributes; trackBy: trackByFn">
					<p class="name-label">Название</p>
					<p class="name-value">{{ attribute.name }}</p>
					<p class="description-label">Цена</p>
					<p class="description-value">{{ attribute.price }}</p>
					<button
						class="more"
						appIconButton
						[tippy]="attributeActionsTemplate"
						[data]="attribute"
						placement="left"
						variation="popper"
						theme="1"
					>
						<app-icon class="icon" name="more"></app-icon>
					</button>
				</li>
			</ul>
		</li>
	</ul>
</div>

<ng-template #attributesGroupActionsTemplate let-data="data" let-hide>
	<app-actions [actions]="attributesGroupActions" [data]="data" [additionalFunc]="hide"></app-actions>
</ng-template>

<ng-template #attributeActionsTemplate let-data="data" let-hide>
	<app-actions [actions]="attributeActions" [data]="data" [additionalFunc]="hide"></app-actions>
</ng-template>
