<div class="attributes-page" *transloco="let t; read: attributesPage">
	<button appButton class="add" (click)="openCreateAttributeGroupDialog()">
		<app-icon class="icon" name="add"></app-icon>
		<span class="text">{{ t("add") }}</span>
	</button>

	<app-filters class="filters"></app-filters>

	<ul class="attributes-groups">
		<li
			class="attributes-group"
			*ngFor="let attributesGroup of attributeGroups$ | async; trackBy: sharedService.trackByFn"
		>
			<div class="header">
				<h1 class="label">{{ attributesGroup.name }}</h1>

				<app-more
					class="more"
					(editClicked)="openUpdateAttributeGroupDialog(attributesGroup)"
					(deleteClicked)="openDeleteAttributeGroupDialog(attributesGroup)"
				></app-more>
			</div>

			<ul class="attributes">
				<li class="attribute" *ngFor="let attribute of attributesGroup.attributes; trackBy: sharedService.trackByFn">
					<p class="name-label">{{ t("name") }}</p>
					<p class="name-value">{{ attribute.name }}</p>
					<p class="description-label">{{ t("description") }}</p>
					<p class="description-value">{{ attribute.price }}{{ t("price") }}</p>
					<app-more
						class="more"
						(editClicked)="openUpdateAttributeDialog(attribute)"
						(deleteClicked)="openDeleteAttributeDialog(attribute)"
					></app-more>
				</li>
			</ul>
		</li>
	</ul>
</div>
