<div class="accounting-systems-page" *transloco="let t; read: accountingSystemsPage">
	<h1 appTypography class="title" theme="1">{{ t("title") }}</h1>

	<app-filters class="filters"></app-filters>

	<app-list
		class="list"
		[items]="accountingSystems$ | async"
		[itemTemplate]="accountingSystemTemplate"
		(clicked)="openAccountingSystemDialog($event)"
	></app-list>
</div>

<ng-template let-item #accountingSystemTemplate>
	<app-accounting-system [accountingSystem]="item"></app-accounting-system>
</ng-template>
