@import "/src/assets/scss/abstractions";

.qr-code {
	.code {
		.qrcode {
			canvas {
				width: rem(250) !important;
				height: rem(250) !important;

				@include desktop () {
					width: rem(500) !important;
					height: rem(500) !important;
				}
			}
		}
	}
}
