@import "~tippy.js/dist/tippy.css";
@import "~tippy.js/themes/light.css";
@import "~tippy.js/animations/scale.css";
@import "../abstractions";

body {
	div[data-tippy-root] {
		.tippy-box {
			border-radius: rem(12);
			box-shadow: none;
			background-color: rgb(0 0 0 / 42%);
			backdrop-filter: blur(6px);
			.tippy-content {
				padding: rem(2);
			}
			&[data-theme~="light"][data-placement^="left"] > .tippy-arrow:before {
				border-left-color: rgb(0 0 0 / 42%);
				right: -7.9px;
			}
			&[data-theme~="light"][data-placement^="right"] > .tippy-arrow:before {
				border-right-color: rgb(0 0 0 / 42%);
				left: -7.9px;
			}
			&[data-theme~="light"][data-placement^="top"] > .tippy-arrow:before {
				border-top-color: rgb(0 0 0 / 42%);
				bottom: -7.9px;
			}
			&[data-theme~="light"][data-placement^="bottom"] > .tippy-arrow:before {
				border-bottom-color: rgb(0 0 0 / 42%);
				top: -7.9px;
			}
		}
	}
}
