<div class="payment-systems-page" *transloco="let t; read: paymentSystemsPageI18n">
	<h1 appTypography class="title" theme="1">{{ t("title") }}</h1>

	<app-filters class="filters"></app-filters>

	<app-list class="list" [items]="paymentSystems$ | async" [itemTemplate]="paymentSystemTempalte"></app-list>
</div>

<ng-template let-item #paymentSystemTempalte>
	<button class="button" (click)="openPaymentSystemDialog(item)">
		<app-payment-system [paymentSystem]="item"></app-payment-system>
	</button>
</ng-template>
