@import "/src/assets/scss/abstractions";

@include page() {
	.payment-systems-page {
		display: grid;
		row-gap: rem(16);

		@include pagePadding ();
		@include desktop() {
			row-gap: rem(32);
		}

		.payment-systems {
			display: grid;
			gap: rem(8);

			@include desktop() {
				grid-template-columns: 1fr 1fr 1fr;
			}
			.payment-system .button {
				width: 100%;
				background-color: var(--light-grey);
				border-radius: rem(12);
				height: rem(64);
				display: flex;
				align-items: center;
				justify-content: center;
				border: rem(1) solid transparent;
				&:hover {
					border-color: var(--primary);
					color: var(--primary);
				}

				@include desktop() {
					height: rem(128);
				}
				.image {
					height: rem(28);
					width: rem(50);
				}
			}
		}
	}
}
@include dark() {
	.payment-systems-page .payment-systems .payment-system .button {
		background-color: var(--dark-grey);
	}
}
