<div class="payment-systems-page" *transloco="let t">
	<h1 appTypography class="title" theme="1">{{ t("PAYMENT_SYSTEMS.TITLE") }}</h1>

	<app-filters class="filters"></app-filters>

	<ng-container *ngIf="paymentSystems$ | async as paymentSystemsData">
		<app-list
			class="list"
			[items]="paymentSystemsData.data"
			[itemTemplate]="paymentSystemTempalte"
			(clicked)="openPaymentSystemDialog($event)"
		></app-list>

		<app-pager
			[count]="paymentSystemsData.totalCount"
			[offset]="paymentSystemsData.page - 1"
			[limit]="limit"
			(pageChanged)="updateQuery($event)"
		></app-pager>
	</ng-container>
</div>

<ng-template let-item #paymentSystemTempalte>
	<app-payment-system [paymentSystem]="item"></app-payment-system>
</ng-template>
