<aside class="aside">
	<a class="user" *ngIf="user" [routerLink]="adminRoutes.PROFILE.absolutePath" (click)="emitLinkClicked()">
		<div class="image">{{ user.name | initials }}</div>
		<p class="name">{{ user.name }}</p>
		<p class="description">{{ user.role }}</p>

		<button appStopPropagation class="sign-out" (click)="signOut()">
			<app-icon class="icon" name="exit"></app-icon>
		</button>
	</a>

	<div class="company">
		<p class="title">
			<span class="text">Компании</span>
			<button appIconButton class="button" (click)="emitAddCompanyClicked()">
				<app-icon class="icon" name="add"></app-icon>
			</button>
		</p>

		<div class="container">
			<app-select
				[formControl]="companyControl"
				[options]="companies"
				class="select"
				placeholder="Выберите компанию"
				bindLabel="name"
				bindValue="id"
			></app-select>

			<button
				appIconButton
				class="button"
				theme="1"
				[tippy]="companiesActionsTemplate"
				[data]="companyControl.value"
				placement="left"
				variation="popper"
			>
				<app-icon class="icon" name="more"></app-icon>
			</button>
		</div>
	</div>

	<div class="place">
		<p class="title">
			<span class="text">Заведения</span>
			<button appIconButton class="button" (click)="emitAddPlaceClicked()">
				<app-icon class="icon" name="add"></app-icon>
			</button>
		</p>
		<div class="container">
			<app-select
				[formControl]="placeControl"
				[options]="places"
				class="select"
				placeholder="Выберите заведение"
				bindLabel="name"
				bindValue="id"
			></app-select>
			<button
				appIconButton
				class="button"
				theme="1"
				[tippy]="placesActionsTemplate"
				[data]="placeControl.value"
				placement="left"
				variation="popper"
			>
				<app-icon class="icon" name="more"></app-icon>
			</button>
		</div>
	</div>

	<nav class="nav">
		<ul class="pages">
			<li class="page" *ngFor="let page of pages">
				<a
					appLink
					class="link"
					theme="0"
					[routerLink]="page.routerLink"
					routerLinkActive="active"
					(click)="emitLinkClicked()"
					[class.disabled]="page.disabled"
				>
					<app-icon class="icon" [name]="page.icon"></app-icon>
					<span class="label">{{ page.label }}</span>
				</a>
			</li>
		</ul>
	</nav>

	<div class="support">
		<app-icon class="icon" name="support"></app-icon>
		<p class="label">Поддержка</p>
		<p class="tel">+38 095 748 98 45</p>
	</div>
</aside>

<ng-template #companiesActionsTemplate let-data="data" let-hide>
	<app-actions [actions]="companiesActions" [data]="getCompanyById(data)" [additionalFunc]="hide"></app-actions>
</ng-template>

<ng-template #placesActionsTemplate let-data="data" let-hide>
	<app-actions [actions]="placesActions" [data]="getPlaceById(data)" [additionalFunc]="hide"></app-actions>
</ng-template>
