@import "/src/assets/scss/abstractions";

@include page() {
	.role-page {
		height: 100%;
		padding: 0 rem(16) rem(16);
		display: grid;
		row-gap: rem(24);

		@include desktop() {
			display: grid;
			padding: rem(0) rem(116);
		}

		.background-image {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;

			@include hideOnMobile();
		}

		.title {
			font-weight: 600;
			font-size: rem(32);
			line-height: rem(40);
			text-align: center;

			@include desktop() {
				font-size: rem(56);
				line-height: rem(64);
				color: var(--dark);
				text-align: left;
			}
		}

		.roles {
			display: grid;
			row-gap: rem(10);
			height: 100%;
			overflow: auto;

			@include desktop() {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: rem(32);
			}
			.role {
				.role-link {
					border-radius: rem(12);
					display: grid;
					align-items: end;
					overflow: hidden;
					background-color: var(--light-grey);
					height: rem(312);
					padding: rem(29) rem(16) 0;

					@include desktop() {
						display: grid;
						grid-template-areas:
							"image label"
							"image description";
						background-color: var(--light);
						padding-right: rem(34);
						column-gap: rem(25);
						row-gap: rem(13);
					}
					.label {
						font-weight: 600;
						font-size: rem(20);
						line-height: rem(24);
						color: var(--primary);

						@include desktop() {
							grid-area: label;
							font-size: rem(32);
							line-height: rem(40);
						}
					}
					.description {
						font-weight: 400;
						font-size: rem(13);
						height: rem(100);
						overflow: hidden;
						line-height: rem(16);
						color: var(--dark);
						margin-top: rem(6);

						@include desktop() {
							grid-area: description;
							font-size: rem(16);
							line-height: rem(24);
							align-self: start;
						}
					}
					.image {
						width: rem(212);
						align-self: end;
						justify-self: center;
						margin-top: rem(12);

						@include image () {
							object-fit: cover;
						}
						@include desktop() {
							width: auto;
							margin-left: rem(-50);
							margin-bottom: rem(-100);
							grid-area: image;
						}
					}
				}
			}
		}

		.select {
			z-index: 2;
			position: fixed;
			bottom: rem(54);
			width: 95%;
			left: 2.5%;
			background-color: var(--primary);
			padding: rem(15) 0;
			font-weight: 600;
			font-size: rem(13);
			line-height: rem(16);
			color: var(--dark);
			border-radius: rem(12);

			@include desktop() {
				width: auto;
				height: rem(48);
				position: static;
				background-color: var(--primary);
				border-radius: rem(12);
				padding: rem(10) rem(24);
				justify-self: end;
			}
		}
	}
}
@include dark() {
	.role-page {
		.title {
			color: var(--light);
		}
		.roles .role .role-link {
			background-color: var(--dark);
			.description {
				color: var(--light);
			}
		}
	}
}
