@import "/src/assets/scss/abstractions/index";

@include page() {
	.statistic-card-skeleton {
		display: grid;
		padding: rem(15);
		border: rem(1) solid var(--dark-b);
		border-radius: rem(16);
		position: relative;
		background-color: var(--light);
		row-gap: rem(24);

		.value {
			width: rem(50);
			height: rem(24);
		}

		.label {
			width: rem(100);
			height: rem(16);
		}

		.icon-wrapper {
			width: rem(24);
			height: rem(24);
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			right: rem(16);
			top: rem(16);
		}
	}
}
@include dark() {
	.statistic-card-skeleton {
		border-color: var(--light-b);
		background-color: var(--dark);
	}
}
