<div class="dashboard">
	<h1 appTypography theme="1" class="title">Дешборд</h1>

	<div class="money">
		<p class="money-value">40 000 грн</p>
		<p class="money-label">Заработано за месяц с нами</p>

		<div class="divider"></div>

		<p class="comission-value">5% = 2 000 грн</p>
		<p class="comission-label">Комиссия</p>

		<app-image class="image" name="dashboard"></app-image>
	</div>

	<ul class="cards">
		<li class="card" *ngFor="let card of cards">
			<a class="link" [routerLink]="card.routerLink">
				<p class="value">{{ card.value }}</p>
				<p class="label">{{ card.label }}</p>
				<div class="icon-wrapper">
					<app-icon class="icon" [name]="card.icon"></app-icon>
				</div>
			</a>
		</li>
	</ul>

	<div class="status">
		<p class="status-type">Тестовый</p>
		<p class="description">Статус заведения</p>

		<p class="info">Чтобы открыться - подпишите договор и добавьте карту</p>
		<button class="button">Изменить статус</button>
	</div>
</div>
