@import "/src/assets/scss/abstractions";

@include page() {
	.dashboard {
		display: grid;
		row-gap: rem(24);

		@include pagePadding ();
		@include desktop() {
			row-gap: rem(32);
		}
		.money {
			position: relative;
			border-radius: rem(16);
			padding: rem(20) rem(16) 0;
			background-color: #f8f8f8;
			display: grid;
			align-items: center;
			grid-template-areas:
				"money-value"
				"money-label"
				"divider"
				"comission-value"
				"comission-label"
				"image";
			row-gap: rem(6);

			@include desktop() {
				padding-top: 0;
				grid-template-areas:
					"money-value divider comission-value image"
					"money-label divider comission-label image";
				row-gap: 0;
				column-gap: rem(6);
			}
			.comission-value,
			.money-value {
				font-weight: 500;
				font-size: rem(24);
				line-height: rem(32);
				align-self: end;
				color: var(--primary);
				&.comission-value {
					grid-area: comission-value;
				}
				&.money-value {
					grid-area: money-value;
				}
			}
			.comission-label,
			.money-label {
				font-weight: 400;
				font-size: rem(16);
				line-height: rem(24);
				color: var(--dark);
				align-self: start;
				&.comission-label {
					grid-area: comission-label;
				}
				&.money-label {
					grid-area: money-label;
				}
			}
			.divider {
				grid-area: divider;
				height: rem(1);
				background-color: var(--dark-b);

				@include desktop() {
					width: rem(1);
					height: 75%;
				}
			}
			.image {
				justify-self: end;
				grid-area: image;
				height: rem(170);
				width: rem(200);
			}
		}

		.cards {
			display: grid;
			gap: rem(10);

			@include desktop() {
				grid-template-columns: 1fr 1fr;
			}
			.card {
				.link {
					display: grid;
					padding: rem(15);
					border: rem(1) solid var(--dark-b);
					border-radius: rem(16);
					position: relative;
					.value {
						font-weight: 500;
						font-size: rem(24);
						line-height: rem(32);
						color: var(--dark);
					}
					.label {
						font-weight: 400;
						font-size: rem(16);
						line-height: rem(24);
						color: var(--dark);
					}
					.icon-wrapper {
						width: rem(24);
						height: rem(24);
						background-color: var(--primary);
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;
						position: absolute;
						right: rem(16);
						top: rem(16);
						.icon {
							width: rem(10);
							height: rem(10);

							@include icon(var(--light));
						}
					}
				}
			}
		}

		.status {
			display: grid;
			align-items: center;
			grid-template-areas:
				"status-type description"
				"info info"
				"button .";
			grid-template-columns: auto 1fr;
			row-gap: rem(12);

			@include desktop() {
				row-gap: rem(24);
			}

			.status-type {
				width: rem(132);
				text-align: center;
				padding: rem(6) rem(16);
				grid-area: status-type;
				border-radius: rem(8);
				font-weight: 500;
				font-size: rem(16);
				line-height: rem(24);
				letter-spacing: 0.03em;
				text-transform: uppercase;
				color: #ff6e64;
				background-color: #f6f6f6;
			}
			.description {
				grid-area: description;
				text-align: left;
				font-weight: 400;
				font-size: rem(16);
				line-height: rem(24);
				color: var(--dark);
			}
			.info {
				grid-area: info;
				font-weight: 400;
				font-size: rem(13);
				line-height: rem(16);
				color: var(--dark);
			}
			.button {
				grid-area: button;
				background-color: var(--primary);
				border-radius: rem(8);
				font-weight: 600;
				font-size: rem(13);
				line-height: rem(16);
				text-align: right;
				color: var(--dark);
				padding: rem(11) rem(18);
			}
		}
	}
}
@include dark() {
	.dashboard {
		.money {
			background-color: var(--dark-grey);
			.comission-value,
			.money-value {
				color: var(--primary);
			}
			.money-label,
			.comission-label {
				color: var(--light);
			}
			.divider {
				background-color: var(--light-b);
			}
		}
		.cards {
			.card {
				.link {
					border-color: var(--light-b);
					.value {
						color: var(--light);
					}
					.label {
						color: var(--light);
					}
				}
			}
		}
		.status {
			.status-type {
				background-color: var(--light);
			}
			.description {
				color: var(--light);
			}
			.info {
				color: var(--light);
			}
		}
	}
}
