<div class="dashboard" *transloco="let t">
	<h1 appTypography theme="1" class="title">{{ t("DASHBOARD.TITLE") }}</h1>

	<div class="money">
		<p class="money-value">40 000 грн</p>
		<p class="money-label">{{ t("DASHBOARD.MONEY_LABEL") }}</p>

		<div class="divider"></div>

		<p class="comission-value">5% = 2 000 грн</p>
		<p class="comission-label">{{ t("DASHBOARD.COMISSION_LABEL") }}</p>

		<app-image class="image" name="dashboard"></app-image>
	</div>

	<ul class="cards">
		<li class="card" *ngFor="let card of cards">
			<a class="link" [routerLink]="card.routerLink">
				<p class="value">{{ card.value }}</p>
				<p class="label">{{ card.label }}</p>
				<div class="icon-wrapper">
					<app-icon class="icon" [name]="card.icon"></app-icon>
				</div>
			</a>
		</li>
	</ul>

	<div class="status">
		<p class="status-type">{{ t("DASHBOARD.STATUS_LABEL") }}</p>
		<p class="description">{{ t("DASHBOARD.STATUS_DESCRIPTION") }}</p>

		<p class="info">{{ t("DASHBOARD.STATUS_INFO") }}</p>
		<button class="button">{{ t("DASHBOARD.CHANGE_STATUS") }}</button>
	</div>
</div>
