<div class="table-dialog" *transloco="let t">
	<h1 appTypography theme="2" class="title">{{ t("TABLE_DIALOG." + (data?.id ? "EDIT" : "CREATE")) }}</h1>

	<form class="form" [formGroup]="formGroup" (ngSubmit)="closeDialog(formGroup.value)">
		<app-file
			class="input"
			formControlName="file"
			[previewImage]="data?.file"
			[label]="t('FORM.FILE_LABEL')"
			[placeholder]="t('FORM.FILE_PLACEHOLDER')"
		></app-file>
		<app-input
			class="input"
			formControlName="name"
			[errors]="formGroup.controls['name'].errors"
			[label]="t('FORM.NAME_LABEL')"
			[placeholder]="t('FORM.NAME_PLACEHOLDER')"
		></app-input>
		<app-input
			class="input"
			returnType="number"
			formControlName="code"
			[errors]="formGroup.controls['code'].errors"
			[label]="t('FORM.CODE_LABEL')"
			[placeholder]="t('FORM.CODE_PLACEHOLDER')"
		></app-input>

		<button appButton class="submit" type="submit" [disabled]="formGroup.invalid">
			{{ t("TABLE_DIALOG." + (data?.id ? "EDIT" : "CREATE")) }}
		</button>
	</form>
</div>
