<div class="order-page" *transloco="let t; read: activeOrderPage">
	<ng-container *ngIf="historyOrder$ | async as historyOrder">
		<app-order-info [order]="historyOrder"></app-order-info>

		<app-users-select
			class="users-select"
			[users]="historyOrder.users"
			[(selectedUsers)]="selectedUsers"
		></app-users-select>

		<app-products-to-order-select
			class="products-select"
			[productsToOrders]="historyOrder.productsToOrders"
			[(selectedProductsToOrders)]="selectedProductsToOrders"
		></app-products-to-order-select>
	</ng-container>
</div>
