@import "/src/assets/scss/abstractions/index";

@include component() {
	.nav {
		height: 100%;
		padding-top: rem(32);
		border-top: rem(1) solid var(--dark-b);
		.pages {
			height: 100%;
			display: flex;
			flex-direction: column;
			row-gap: rem(10);
			overflow: auto;
			.page {
				.link {
					display: flex;
					align-items: center;
					column-gap: rem(8);
					padding: rem(11);
					border-radius: rem(8);
					background-color: transparent;
					.label {
						font-weight: 400;
						font-size: rem(16);
						line-height: rem(24);
						color: var(--dark);
					}
					.icon {
						width: rem(24);
						height: rem(24);
					}
					&:hover:not(.active) {
						.icon {
							@include icon() {
								path {
									fill: var(--primary);
								}
							}
						}
						.label {
							color: var(--primary);
						}
					}
					&.active {
						background-color: var(--primary);
						.label {
							color: var(--dark);
						}
					}
					&.disabled {
						@include disableLink();
						.label {
							color: var(--dark-d);
						}
						.icon {
							@include icon() {
								path {
									fill: var(--dark-d);
								}
							}
						}
					}
				}
			}
		}
	}
}
@include dark() {
	.nav {
		border-top-color: var(--light-b);
		.pages .page .link {
			.icon {
				@include icon() {
					path {
						fill: var(--light);
					}
				}
			}
			.label {
				color: var(--light);
			}
			&.disabled {
				.label {
					color: var(--light-d);
				}
				.icon {
					@include icon() {
						path {
							fill: var(--light-d);
						}
					}
				}
			}
			&.active {
				.label {
					color: var(--dark);
				}
				.icon {
					@include icon() {
						path {
							fill: var(--dark);
						}
					}
				}
			}
			&:hover:not(.active) {
				.icon {
					@include icon() {
						path {
							fill: var(--primary);
						}
					}
				}
				.label {
					color: var(--primary);
				}
			}
		}
	}
}
