<div class="all-orders-page" *transloco="let t">
	<app-filters class="filters"></app-filters>

	<app-datatable class="datatable-desktop" [rows]="historyOrders$ | async" (clicked)="navigateToHitoryOrder($event)">
		<ng-container appColumn="orderNumber">
			<ng-template #header>{{ t("DATATABLES.CODE") }}</ng-template>
			<ng-template #value let-value>{{ value }}</ng-template>
		</ng-container>
		<ng-container appColumn="date">
			<ng-template #header>{{ t("DATATABLES.DATE") }}</ng-template>
			<ng-template #value let-value>{{ value }}</ng-template>
		</ng-container>
		<ng-container appColumn="status">
			<ng-template #header>{{ t("DATATABLES.STATUS") }}</ng-template>
			<ng-template #value let-value>{{ t("HISTORY_ORDER." + value) }}</ng-template>
		</ng-container>
	</app-datatable>

	<ul class="datatable-mobile">
		<li class="order" *ngFor="let order of historyOrders$ | async; trackBy: sharedService.trackByFn">
			<p class="code">{{ t("DATATABLES.CODE") }} {{ order.orderNumber }}</p>

			<p class="date-label">{{ t("DATATABLES.DATE") }}</p>
			<p class="date-value"></p>

			<p class="role-label">{{ t("DATATABLES.STATUS") }}</p>
			<p [class]="'role-value' + ' ' + order.status">{{ t("HISTORY_ORDER." + order.status) }}</p>
		</li>
	</ul>
</div>
