<div class="place-dialog" *transloco="let t">
	<h1 appTypography theme="2" class="title">{{ t(data?.id ? "edit" : "create") }}</h1>

	<form class="form" [formGroup]="formGroup" (ngSubmit)="closeDialog(formGroup.value)">
		<app-input
			class="input"
			formControlName="name"
			[label]="t('NAME_LABEL')"
			[placeholder]="t('NAME_PLACEHOLDER')"
		></app-input>
		<app-input
			class="input"
			formControlName="address"
			[label]="t('ADDRESS_label')"
			[placeholder]="t('ADDRESS_placeholder')"
		></app-input>
		<app-file
			class="input"
			formControlName="file"
			[previewImage]="data?.file"
			[label]="t('FILE_LABEL')"
			[placeholder]="t('FILE_PLACEHOLDER')"
		></app-file>

		<button class="submit" appButton type="submit">{{ t(data?.id ? "edit" : "create") }}</button>
	</form>
</div>
