@import "/src/assets/scss/abstractions/index";

@include component() {
	.hall {
		display: block;
		position: relative;
		border-radius: rem(16);
		background-color: var(--light-grey);

		.image {
			width: 100%;
			height: rem(176);
			background-color: white;
			border-radius: rem(16) rem(16) 0 0;
		}
		.content {
			padding: rem(14) rem(16);
			.label {
				font-weight: 500;
				font-size: rem(16);
				line-height: rem(24);
				color: var(--dark);
			}
			.description {
				font-weight: 400;
				font-size: rem(11);
				line-height: rem(16);
				color: #434343;
			}
		}

		.more {
			position: absolute;
			right: rem(8);
			top: rem(8);
			&::ng-deep .app-more {
				background-color: var(--light-grey);
			}
			&.placeholder::ng-deep .app-more {
				background-color: var(--light);
			}
		}
	}
}
@include dark() {
	.hall {
		background-color: var(--dark-grey);
		.content {
			.label {
				color: var(--light);
			}

			.description {
				color: var(--grey);
			}
		}

		.more {
			&::ng-deep .app-more {
				background-color: var(--dark-grey);
			}
			&.placeholder::ng-deep .app-more {
				background-color: var(--dark);
			}
		}
	}
}
